@model IEnumerable<prjBookMvcCore.Models.Artical>

@{
    ViewData["Title"] = "List全部文章";
}
<script>
    $(document).ready
        (

        );
</script>


<h1>全部文章</h1>


<table class="table">
    <thead>
        <tr>
            <th>
              序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticalTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticalDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                string path = item.ArticalTitle + ".jpg";
                count++;
                <tr href="~/Artical/Detail文章/@item.ArticalId">
                <td>@count</td>
                <td>
                    <div>@Html.ActionLink(item.ArticalTitle, "Detail文章" , "Artical" ,new{id=item.ArticalId},new{}) <a href="~/Artical/Detail文章/@item.ArticalId"> <img src="~/Image/ArticalPicture/@path" height="30" title="@item.ArticalTitle" /> </a></div>
                </td>
                <td>@Html.DisplayFor(modelItem => item.ArticalDate)  </td>
                </tr>
            }
        }
    </tbody>
</table>
