@model IEnumerable<prjBookMvcCore.Models.BooksCardViewModel>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <div class="headshot">
                    <img class="card-img-top" src="~/images/@item.CoverPath" alt="@item.CoverPath" />
                </div>
                <div class="card-body">
                    <h5 class="card-title">書名:  @Html.DisplayFor(modelItem => item.BookTitle)</h5>
                    <p class="card-author">作者:@(string.IsNullOrEmpty(item.AuthorName) ? "無" : item.AuthorName)</p>
                    <p class="card-text">原    價：@item.UnitPrice</p>
                    <p class="card-text">優惠價：@(string.IsNullOrEmpty(item.BookDiscountName) ? "無" : $"{item.UnitPrice * item.BookDiscountAmount}")</p>
                    <p class="card-text">出版日期：@item.PublicationDate.ToString("yyyy/MM/dd")</p>
                </div>
            </div>
        </div>
    }
</div>
<@*p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticalTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticalDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticalPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDiscountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticalID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticalTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticalDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticalPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDiscountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@