@using prjBookMvcCore.Models
@model CInformation
@{
    ViewData["Title"] = "BookInformation";
}
@inject UserInforService _userInforService
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <!-- 6-37 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <style>
        .el-aside {
            background-color: #FFFFFF;
            color: #333;
            text-align: left;
            /* line-height: 200px; */
        }

        div {
            border: none;
        }

        .el-main {
            padding: 0px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .aside-wrapper {
            display: flex;
            flex-direction: column;
        }

        .downCover-wrapper {
            display: flex;
            padding: 15px;
        }

        .downCover-slot {
            margin: 5px;
        }

        .profile-slot {
            width: 50px;
            height: 50px;
            border-radius: 30px;
        }

        .rightButton {
            width: 215px;
            height: 50px;
            background: linear-gradient(to right,#E3007F,#eb858c);
            color: #FFFFFF;
            font-size: 18px;
        }

        .rightButton:hover {
            background: linear-gradient(to right,#bd2275,#c27079);
            color: #ccadba;
        }

        .buttonRight {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 5px;
        }

        .share {
            padding: 5px;
            background: none;
        }

        .share:hover {
            filter: hue-rotate(30deg);
        }

        .icon_wrapper {
            display: flex;
            flex-direction: row;
            margin: 20px;
        }

        .ad1 {
            width: 215px;
            height: 35px;
            background-color: #FFF0F5;
            font-weight: bold;
            justify-content: center;
            margin-right: 10px;
            margin-left: 10px;
            color: #E3007F;
            text-decoration: none;
            font-size: 14px;
        }

        .el-button--comment {
            color: #E3007F;
            border-color: #E3007F;
            text-align: center;
        }

            .el-button--comment:hover {
                /* background: #2D6EFB;
                                                                border-color: #2D6EFB; */
                /* color: #fff; */
                color: #E3007F;
                border-color: #E3007F;
            }

        .el-button--pinkBorder {
            text-align: center;
        }
        .el-button--pinkBorder:hover {
            color: #E3007F;
            border-color: #E3007F;
        }

        .el-breadcrumb-item--pinkColor:hover {
            color: #E3007F;
            text-decoration: underline;
        }
        .price {
            background-color: #F0F0F0;
            height: 85px;
            line-height: 10px;
            margin: 5px 0;
            padding: 10px;
            font-size: 14px;
        }

        .commentItem {
            margin-bottom: 20px;
        }

        .commentImage {
            margin-right: 20px;
        }

        .commentRate {
            margin-left: 100px;
        }

        .commentRate,
        .commentAuthor {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .deliver {
            margin: 5px 0px;
            line-height: 10px;
            padding-left: 10px;
            font-size: 14px
        }

        .information p {
            margin: 2px 0;
        }

        .font-control {
            text-align: right;
        }

        .container.small {
            font-size: 14px;
        }

        .container.medium {
            font-size: 18px;
        }

        .container.large {
            font-size: 24px;
        }

        .recommendTable {
            display: flex;
            flex-direction: row;
        }

        .recommendContent p {
            font-size: 14px;
            width: 180px;
            margin: 2px 0;
        }
        .el-carousel__arrow {
            top: 130px;
            border: 1px solid rgba(255,255,255,0.2);
            border-radius: 15%;
            height: 100px;
            width: 50px;
        }

        .recommendBookTitle {
            font-weight: bold;
        }
        .recommendBookTitle p {
            font-size: 14px;
            line-height: 1.5em; /* 設置行高為字體大小的1.5倍 */
            height: 3em; /* 設置高度為字體大小的3倍 */
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* 設置行數為2行 */
        }
        .image-hover {
            transition: transform 0.2s;
        }
        .image-hover:hover {
            transform: scale(1.1);
        }

        .el-image-viewer__img {
            max-width: 600px !important;
            width: 100% !important;
            height: auto !important;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-loading.fullscreen.lock="loadThisPage">
            <el-container>
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item><a :href="homeUrl()" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">首頁</a></el-breadcrumb-item>
                    <el-breadcrumb-item v-if="book.languageName && book.languageName.length > 1"><a :href="menuUrl()" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.languageName}}</a></el-breadcrumb-item>
                    <el-breadcrumb-item v-if="book.categoryName && book.categoryName.length > 1"><a :href="categoryUrl(@Model.category.CategoryId)" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.categoryName}}</a></el-breadcrumb-item>
                    <el-breadcrumb-item v-if="book.subCategoryName && book.subCategoryName.length > 1"><a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.subCategoryName}}</a></el-breadcrumb-item>
                    <el-breadcrumb-item><div style="color: #E3007F;">{{book.bookTitle}}</div></el-breadcrumb-item>
                </el-breadcrumb>
            </el-container>
            <br/>
            <el-container>
                <div class="aside-wrapper">
                    <el-aside width="310px" height="400px">
                        <div class="demo-image__placeholder">
                            <div class="block">
                                <el-image :src="book.coverPath">
                                    <div slot="placeholder" class="image-slot">
                                        加載中<span class="dot">...</span>
                                    </div>
                                </el-image>
                            </div>
                        </div>
                    </el-aside>
                    <el-aside>
                        <div class="demo-image__placeholder">
                            <div class="block">
                                <div class="downCover-wrapper">
                                    <div v-for="(preview, index) in book.preview" :key="index">
                                        <el-image v-if="preview"
                                                  style="width: 70px;"
                                                  :src="preview"
                                                  :preview-src-list="book.preview"
                                                  class="image-hover">
                                            <div slot="placeholder" class="image-slot">
                                                加載中<span class="dot">...</span>
                                            </div>
                                        </el-image>
                                        <el-dialog :visible.sync="showDialog"
                                                   :close-on-click-modal="true"
                                                   :close-on-press-escape="true"
                                                   width="1200px"
                                                   :show-close="false"
                                                   custom-class="dialog-image">
                                            <el-image v-if="dialogIndex !== null"
                                                      :src="book.preview[dialogIndex]"
                                                      fit="contain"
                                                      style="width: 2000px; height: 2000px;"></el-image>
                                        </el-dialog>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-aside>
                </div>
                <el-main>
                    <div style="padding-left: 5px;">
                        <h1 style="line-height: normal;letter-spacing: 0.5px;font-size:20px;font-weight:bold;">{{book.bookTitle}}</h1>
                        <div class="authorBoard">
                            <p style="text-align: left;"><span>作者：<a :href="authorUrl(book.authorID)" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.authorName}}</a></span></p>
                        </div>
                        <el-row>
                            <el-button round size="small" type="pinkBorder" style="margin-left: 0px; padding: 9px;"><i class="el-icon-edit"></i><span style="color:#E3007F;"> {{comment.length}} </span>評價</el-button>
                        </el-row>
                        <div class="icon_wrapper">
                            <div id="fb_shared" class="share" v-on:click="windowOpen('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html')">
                                <a href=""><img src="../../image/Book/bookIcon/fb.png" alt="" style="width: 30px; height: 26px;"></a>
                            </div>
                            <div id="gmail_shared" class="share" v-on:click="windowOpen('https://mail.google.com/mail/?ui=1&amp;view=cm&amp;fs=1&amp;tf=1&amp;su=%E3%80%90TAAZE%20%7C%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%E7%B6%B2%E8%B7%AF%E6%9B%B8%E5%BA%97%E3%80%91%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8-%20TAAZE%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB&amp;body=%E3%80%90TAAZE%20%7C%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%E7%B6%B2%E8%B7%AF%E6%9B%B8%E5%BA%97%E3%80%91%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8-%20TAAZE%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%2F%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8.%20%E4%BD%9B%E8%98%AD%E5%85%8B%EF%BC%8E%E8%B5%AB%E7%88%BE.%20%E5%BE%90%E4%B8%96%E6%98%8E.%20%E6%99%BA%E8%A8%80%E9%A4%A8.%209789865899332.%20%E3%80%8A%E8%81%96%E7%B6%93%E3%80%8B%E8%AE%93%E6%AF%8F%E4%B8%80%E5%80%8B%E4%BA%BA%E6%9C%8D%E5%BE%9E%E4%B8%8A%E5%B8%9D%E7%9A%84%E5%AE%89%E6%8E%92%EF%BC%8C%E4%BD%86%E3%80%8A%E5%A1%94%E6%9C%A8%E5%BE%B7%E3%80%8B%E8%AE%93%E3%80%8C%E8%B2%A1%E5%AF%8C%E3%80%8D%E6%9C%8D%E5%BE%9E%E4%BA%86%E6%88%91%E5%80%91%E7%9A%84%E9%81%B8%E6%93%87%E3%80%82%E2%94%80%E2%94%80%E5%93%88%E9%BB%98%E4%B8%96%E7%95%8C%E5%AF%8C%E7%BF%81%E6%91%A9....%20https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html&amp;shva=1&amp;ov=0')">
                                <a href=""><img src="../../image/Book/bookIcon/gmail.png" alt="" style="width: 30px; height: 26px;"></a>
                            </div>
                            <div id="plurk_shared" class="share" v-on:click="windowOpen('http://www.plurk.com/?qualifier=shares&amp;status=%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8-%20TAAZE%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%20https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html%20TAAZE%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%E7%B6%B2%E8%B7%AF%E6%9B%B8%E5%BA%97')">
                                <a href=""><img src="../../image/Book/bookIcon/plurk.png" alt="" style="width: 30px; height: 26px;"></a>
                            </div>
                            <div id="twitter_shared" class="share" v-on:click="windowOpen('https://twitter.com/home?status=%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8-%20TAAZE%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%20https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html%20TAAZE%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%E7%B6%B2%E8%B7%AF%E6%9B%B8%E5%BA%97')">
                                <a href=""><img src="../../image/Book/bookIcon/twitter.png" alt="" style="width: 30px; height: 26px;"></a>
                            </div>
                            <!--<div class='gplus_frame'></div>-->
                            <div class="share"><iframe frameborder="0" border="0" cellspacing="0" width="70" height="25" id="fb_like" style="border: none;overflow:hidden;" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=70&amp;width=100&amp;size=small&amp;appId=626893700667334"></iframe></div>
                        </div>
                    </div>
                    <div class="price">
                        <p>定價：NT$ <span style="text-decoration:line-through;">{{book.unitPrice}}</span></p>
                        <p>優惠價：<span style="color:#e2007e;"><strong> {{book.discount}} </strong></span>折， NT$ <span style="color:#e2007e;"><strong>{{getDiscountPrice(book)}}</strong></span></p>
                        <p style="color:#e2007e;">優惠截止日：至 <span>{{book.discountDate}}</span></p>
                    </div>
                    <div class="deliver">
                        <p>運送方式：超商取貨、宅配取貨</p>
                        <p>銷售地區：全球</p>
                        <p>庫存： {{book.unitInStock}}</p>
                    </div>
                    <p class="DeliverAndKpst">
                        <a class="18h" href="#" target="_blank">
                            <img style="width: 50px;height: 50px;" src="../../image/Book/bookIcon/shipIcon.png" alt="">
                        </a>
                    </p>
                </el-main>
                <el-aside width="250px">
                    <el-row>
                        <div>
                            <p class="ad1">
                                <a :href="articalUrl(articalID)" class="ad1" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">活動文宣--{{articalTitle}}</a>
                            </p>
                        </div>
                        <div class="buttonRight">
                            <el-button round class="rightButton" v-on:click="addToCart(book.bookID,@_userInforService.UserId)">加入購物車</el-button>
                        </div>
                        <div class="buttonRight">
                            <el-button round class="rightButton" v-on:click="redirectToCart(@_userInforService.UserId)">直接購買</el-button>
                        </div>
                        <div class="buttonRight">
                            <el-button round class="rightButton" v-on:click="storeTempList(book.bookID,@_userInforService.UserId)">放入暫存清單</el-button>
                        </div>
                    </el-row>
                </el-aside>
            </el-container>
            <el-divider></el-divider>
            <el-container>
                <el-main v-if="recommend.length > 1">
                    <span style="font-size: 20px; font-weight: bold;">買了這本書的人也買了</span>
                    <br/>
                    <el-carousel arrow="always" :interval="0" height="350px" indicator-style="{ transform: 'translateY(80%)' }">
                        <div v-for="(group, index) in Math.ceil(recommend.length / 5)">
                            <el-carousel-item :key="index">
                                <div class="recommendTable">
                                    <div v-for="(item, i) in recommend.slice(index * 5, (index + 1) * 5)" style="margin-right: 30px; margin-left: 40px">
                                        <a :href="bookUrl(item.bookID)">
                                            <el-image :src="item.coverPath" style="width: 180px;">
                                                <div slot="placeholder" class="image-slot">
                                                    加載中<span class="dot">...</span>
                                                </div>
                                            </el-image>
                                        </a>
                                        <div class="recommendContent">
                                            <div class="recommendBookTitle">
                                                <p class="ellipsis">{{item.bookTitle}}</p>
                                            </div>
                                            <p>定價：{{item.unitPrice}} 元</p>
                                            <p>優惠價： <span style="color: #E3007F;">{{item.discount}}</span> 折 <span style="color: #E3007F;">{{getDiscountPrice(item)}}</span> 元</p>
                                        </div>
                                    </div>
                                </div>
                            </el-carousel-item>
                        </div>
                    </el-carousel>
                    <el-divider></el-divider>
                </el-main>
            </el-container>
            <el-container>
                <el-main>
                    <div class="information">
                        <span style="font-size: 20px; font-weight: bold;">商品資料</span>
                        <p>作者：<span><a :href="authorUrl(book.authorID)" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.authorName}}</a></span></p>
                        <p v-if="book.translatorName && book.translatorName.length > 1">譯者：<span><a :href="translatorUrl(book.translatorID)" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.translatorName}}</a></span></p>
                        <p v-if="book.painterName && book.painterName.length > 1">繪者：<span><a :href="painterUrl(book.painterID)" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.painterName}}</a></span></p>
                        <p>出版社：<span><a :href="publisherUrl(book.publisherID)" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.publisherName}}</a></span></p>
                        <p>出版日期：<span>{{book.publicationDate}}</span></p>
                        <p>ISBN/ISSN：<span>{{book.isbn}}</span></p>
                        <p>語言：<span>{{book.languageName}}</span></p>
                        <p>裝訂方式：<span>{{book.bindingMethod}}</span></p>
                        <p>頁數：<span>{{book.pages}}</span></p>
                        <p>商品尺寸：<span>{{book.dimensions}}</span></p>
                        <p>
                            類別：
                            <span>
                                <a v-if="book.languageName && book.languageName.length > 1" href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.languageName}}</a>>
                                <a v-if="book.categoryName && book.categoryName.length > 1" href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.categoryName}}</a>>
                                <a v-if="book.subCategoryName && book.subCategoryName.length > 1" href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">{{book.subCategoryName}}</a>
                            </span>
                        </p>
                    </div>
                </el-main>
            </el-container>
            <el-container>
                <el-header></el-header>
                <el-tabs v-model="activeName" type="card" v-on:tab-click="handleClick">
                    <el-tab-pane label="內容簡介" name="contentIntro"></el-tab-pane>
                    <el-tab-pane v-if= "tryContentText && tryContentText.length > 1" label="章節試閱" name="tryContent"></el-tab-pane>
                    <el-tab-pane v-if="endorsementsText && endorsementsText.length > 1" label="各界推薦" name="endorsements"></el-tab-pane>
                    <el-tab-pane v-if="forewardText && forewardText.length > 1" label="作者序" name="foreward"></el-tab-pane>
                    <el-tab-pane v-if="tableContainerText && tableContainerText.length > 1" label="目錄" name="tableContainer"></el-tab-pane>
                    <el-tab-pane label="購物須知" name="beforeBuy"></el-tab-pane>
                </el-tabs>
                <div>
                    <div class="font-control">
                        <span>文字字級</span>
                        <el-button v-on:click="fontSize = 'small'" size="mini">小</el-button>
                        <el-button v-on:click="fontSize = 'medium'" size="mini">中</el-button>
                        <el-button v-on:click="fontSize = 'large'" size="mini">大</el-button>
                    </div>
                    <el-container :class="`container ${fontSize}`">
                        <el-main>
                            <div id="text"></div>
                            <div id="content">
                                <div id="contentIntro">
                                    <span style="font-size: 20px; font-weight: bold;">內容簡介</span>
                                    <div>
                                        <span v-for="(text, index) in contentIntro" :key="index"><br>{{ text }}</span>
                                    </div>
                                </div>
                                <el-divider></el-divider>
                                <div v-if="tryContentText && tryContentText.length > 1">
                                    <div id="tryContent"> 
                                        <span style="font-size: 20px; font-weight: bold;">章節試閱</span>
                                        <div>
                                            <span v-for="(text, index) in tryContentText" :key="index"><br>{{ text }}</span>
                                            <span v-if="!showAll && tryContentText.length > 1">...</span>
                                            <div class="moreButton" style="margin-top: 10px;">
                                                <div v-if="!showAll" viewall="0" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;" v-on:click="toggleShow">顯示全部內容</div>
                                                <div v-else viewall="1" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;" v-on:click="changeMethod('tryContent')">顯示部分內容</div>
                                            </div>
                                        </div>
                                    </div>
                                     <el-divider></el-divider>
                                </div>
                                <div v-if="endorsementsText && endorsementsText.length > 1">
                                    <div id="endorsements">
                                        <span style="font-size: 20px; font-weight: bold;">各界推薦</span>
                                        <div>
                                            <span v-for="(text, index) in endorsementsText" :key="index"><br>{{ text }}</span>
                                            <span v-if="!showAllEndorsements && endorsementsText.length > 1">...</span>
                                            <div class="moreButton" style="margin-top: 10px;">
                                                <div v-if="!showAllEndorsements" viewall="0" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;" v-on:click="toggleShowEndorsements">顯示全部內容</div>
                                                <div v-else viewall="1" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;" v-on:click="changeMethod('endorsements')">顯示部分內容</div>
                                            </div>
                                        </div>
                                    </div>
                                    <el-divider></el-divider>
                                </div>
                                <div v-if="forewardText && forewardText.length > 1">
                                    <div id="foreward">
                                        <span style="font-size: 20px; font-weight: bold;">作者序</span>
                                        <div>
                                            <span v-for="(text, index) in forewardText" :key="index"><br>{{ text }}</span>
                                            <span v-if="!showAllForeward && forewardText.length > 1">...</span>
                                            <div class="moreButton" style="margin-top: 10px;">
                                                <div v-if="!showAllForeward" viewall="0" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;" v-on:click="toggleShowForeward">顯示全部內容</div>
                                                <div v-else viewall="1" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;" v-on:click="changeMethod('foreward')">顯示部分內容</div>
                                            </div>
                                        </div>
                                    </div>
                                    <el-divider></el-divider>
                                </div>
                                <div v-if="tableContainerText && tableContainerText.length > 1">
                                    <div id="tableContainer">
                                        <span style="font-size: 20px; font-weight: bold;">目錄</span>
                                        <div>
                                            <span v-for="(text, index) in tableContainerText" :key="index"><br>{{ text }}</span>
                                            <span v-if="!showAllTableContainer && tableContainerText.length > 1">...</span>
                                            <div class="moreButton" style="margin-top: 10px;">
                                                <div v-if="!showAllTableContainer" viewall="0" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;" v-on:click="toggleShowTableContainer">顯示全部內容</div>
                                                <div v-else viewall="1" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;" v-on:click="changeMethod('tableContainer')">顯示部分內容</div>
                                            </div>
                                        </div>
                                    </div>
                                    <el-divider></el-divider>
                                </div>
                                <div id="beforeBuy">
                                    <span style="font-size: 20px; font-weight: bold;">購物須知</span>
                                    <p style="font-weight: bold;">退換貨說明：</p>
                                    <p>會員均享有10天的商品猶豫期（含例假日）。若您欲辦理退換貨，請於取得該商品10日內寄回。</p>
                                    <p>
                                        辦理退換貨時，請保持商品全新狀態與完整包裝（商品本身、贈品、贈票、附件、內外包裝、保證書、隨貨文件等）一併寄回。若退回商品無法回復原狀者，可能影響退換貨權利之行使或須負擔部分費用。
                                    </p>
                                    <strong>訂購本商品前請務必詳閱</strong>
                                    <a class="linkStyleTextArea" href="https://www.taaze.tw/member_serviceCenter.html?qa_type=g#a1" target="_blank">退換貨原則</a>。
                                </div>
                            </div>
                        </el-main>
                    </el-container>
                </div>
                <el-divider></el-divider>
                <div id="comment">
                    <span style="font-size: 20px; font-weight: bold;">發表評論</span>
                    <p></p>
                    <div>
                        <strong>歡迎您給予星評與評論</strong>
                        <br>
                        <div style="margin-top: 20px; margin-bottom: 20px;">
                            <span class="demonstration"></span>
                            <el-rate v-model="stars"></el-rate>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <el-avatar :size="50" :src="profile" style="margin-right: 20px;"></el-avatar>
                            <el-input type="textarea"
                                      placeholder="請輸入評論"
                                      v-model="commentArea"
                                      maxlength="50"
                                      show-word-limit style="width: 400px;"
                                      ></el-input>
                            <el-button type="primary" icon="el-icon-edit" style="margin-left: 20px;" v-on:click="writeComment(book.bookID,@_userInforService.UserId,commentArea,stars)" v-loading.fullscreen.lock="fullscreenLoading">確定</el-button>
                        </div>
                    </div>
                </div>
                <el-divider></el-divider>
                <el-container>
                    <div class="commentContent">
                        <div v-for="(item, index) in comment" :key="index" class="commentItem" v-if="showAllComments || index < 3">
                            <el-aside width="100px">
                                <div class="commentImage">
                                    <el-image :src="item.profile" class="profile-slot">
                                        <div slot="placeholder">
                                            加載中<span class="dot">...</span>
                                        </div>
                                    </el-image>
                                </div>
                            </el-aside>
                            <el-main>
                                <el-rate v-model="item.value"
                                         disabled
                                         text-color="#ff9900"
                                         score-template="{value}"></el-rate>
                                <p><strong>{{item.author}}</strong><span style="margin-left: 10px;">{{item.date}}</span></p>
                                <p>{{item.content}}</p>
                            </el-main>
                        </div>
                        <div class="buttonRight" v-if="comment.length > 3">
                            <el-button round class="rightButton" v-on:click="showAllComments = true" v-if="!showAllComments">看更多評論</el-button>
                        </div>
                    </div>
                </el-container>
            </el-container>
        </div>
    </div>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        function decodeHTML(encodedString) {
            let tempElement = document.createElement('div')
            tempElement.innerHTML = encodedString
            return tempElement.textContent
        }
        function replaceDoubleDollarSign(str) {
          return str.replace(/\$\$/g, '\n');
        }

        let encodedContentIntro = "@Model.book.ContentIntro"
        let contentIntroJS = decodeHTML(encodedContentIntro)

        let encodedTryContent = "@Model.book.TryContent"
        let tryContentJS = decodeHTML(encodedTryContent)

        let encodedEndorsements = "@Model.book.Endorsements"
        let endorsementsJS = decodeHTML(encodedEndorsements)

        let encodedForeward = "@Model.book.Foreward"
        let forewardJS = decodeHTML(encodedForeward)

        let encodedTableContainer = "@Model.book.TableContainer"
        let tableContainerJS = decodeHTML(encodedTableContainer)

        let bookTitleJS = replaceDoubleDollarSign(decodeHTML("@Model.book.BookTitle"))
        let bindingMethodJS = replaceDoubleDollarSign(decodeHTML("@Model.book.BindingMethod"))
        let publicationDateJS = decodeHTML("@Model.book.PublicationDate").split(/[\s上午下午]/)[0];
        let dimensionsJS = replaceDoubleDollarSign(decodeHTML("@Model.book.Dimensions"))
        let pagesJS = replaceDoubleDollarSign(decodeHTML("@Model.book.Pages"))
        let languageNameJS = replaceDoubleDollarSign(decodeHTML("@Model.language.LanguageName"))
        let publisherNameJS = replaceDoubleDollarSign(decodeHTML("@Model.publisher.PublisherName"))
        let authorNameJS = replaceDoubleDollarSign(decodeHTML("@Model.author.AuthorName"))
        let translatorNameJS = replaceDoubleDollarSign(decodeHTML("@Model.translator.TranslatorName"))
        let painterNameJS = replaceDoubleDollarSign(decodeHTML("@Model.painter.PainterName"))
        let categoryNameJS = replaceDoubleDollarSign(decodeHTML("@Model.category.CategoryName"))
        let subCategoryNameJS = replaceDoubleDollarSign(decodeHTML("@Model.subCategory.SubCategoryName"))

        let discountDateJS = replaceDoubleDollarSign(decodeHTML("@Model.bookDiscountDetail.BookDiscountEndDate")).split(/[\s上午下午]/)[0];
        let discountNameJS = replaceDoubleDollarSign(decodeHTML("@Model.bookDiscount.BookDiscountName"))


        let commentInformations = @Html.Raw(Json.Serialize(Model.commentInformations));
        let commentsJS = [];
        for (let i = 0; i < commentInformations.length; i++) {
            let comment = {
                content: commentInformations[i]._comment.commentText,
                date: commentInformations[i]._comment.commentTime.split(/[\sT]/)[0],
                value: commentInformations[i]._comment.stars,
                author: commentInformations[i]._member.memberName,
                profile: '../../image/Book/bookComment/' + commentInformations[i]._comment.memberId + '.jpg',
            };
            commentsJS.push(comment);
        }

        let preview1JS = "@Model.preview.PreviewImagePath1".length > 1 ? '../../image/Book/' + "@Model.preview.PreviewImagePath1": ""
        let preview2JS = "@Model.preview.PreviewImagePath2".length > 1 ? '../../image/Book/' + "@Model.preview.PreviewImagePath2": ""
        let preview3JS = "@Model.preview.PreviewImagePath3".length > 1 ? '../../image/Book/' + "@Model.preview.PreviewImagePath3": ""
        let preview4JS = "@Model.preview.PreviewImagePath4".length > 1 ? '../../image/Book/' + "@Model.preview.PreviewImagePath4" : ""

        let recommendBooks = @Html.Raw(Json.Serialize(Model.recommendBooks));
        let recommendBooksJS = []
        for (let i = 0; i < recommendBooks.length ; i++) {
            let recommend = {
                bookTitle: replaceDoubleDollarSign(recommendBooks[i].book.bookTitle),
                bookID: recommendBooks[i].book.bookId,
                coverPath: '../../Image/Book/' + recommendBooks[i].book.coverPath,
                unitPrice: recommendBooks[i].book.unitPrice,
                discount: recommendBooks[i].bookDiscount.bookDiscountAmount * 100,
            };
            recommendBooksJS.push(recommend);
        }

        let articalTitleJS = replaceDoubleDollarSign(decodeHTML("@Model.artical.ArticalTitle"))

        let app = new Vue({
            el: '#app',
            data: {
                book:{
                    coverPath: '../../image/Book/' + "@Model.book.CoverPath",
                    bookID: "@Model.book.BookId",
                    bookTitle: bookTitleJS,
                    unitPrice: parseInt("@Model.book.UnitPrice"),
                    discount: "@Model.bookDiscount.BookDiscountAmount" * 100,
                    discountDate: discountDateJS,
                    discountName: discountNameJS,
                    publicationDate: publicationDateJS,
                    isbn: "@Model.book.Isbn",
                    bindingMethod: bindingMethodJS,
                    pages: pagesJS,
                    dimensions: dimensionsJS,
                    unitInStock: "@Model.book.UnitInStock",
                    languageName: languageNameJS,
                    publisherName: publisherNameJS,
                    publisherID: "@Model.publisher.PublisherId",
                    authorName: authorNameJS,
                    authorID: "@Model.author.AuthorId",
                    translatorName: translatorNameJS,
                    translatorID: "@Model.translator.TranslatorId",
                    painterName: painterNameJS,
                    painterID: "@Model.painter.PainterId",
                    categoryName: categoryNameJS,
                    subCategoryName: subCategoryNameJS,
                    preview: [preview1JS,preview2JS,preview3JS,preview4JS],
                },
                articalTitle: articalTitleJS,
                articalID: "@Model.artical.ArticalId",
                video: '../../image/Book/bookIcon/video1.jpg',
                originalColor: '',
                activeName: 'first',
                fontSize: 'medium',
                showDialog: false,
                dialogIndex: 0,
                isLogin: false,
                fullscreenLoading: false,
                stars: 5,
                showAllEndorsements: false,
                showAllForeward: false,
                showAllTableContainer: false,
                showAll: false,
                showAllComments: false,
                contentIntro: contentIntroJS.split("\n"),
                endorsements: endorsementsJS.split("\n"),
                foreward: forewardJS.split("\n"),
                tableContainer: tableContainerJS.split("\n"),
                tryContent: tryContentJS.split("\n"),
                commentArea: '',
                circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
                recommend: recommendBooksJS,
                comment: commentsJS,
                loadThisPage: true,
                profile: '../../image/Book/bookComment/' + @_userInforService.UserId + '.jpg',
            },
            computed: {
                tableContainerText() {
                    //displayCount
                    return this.showAllTableContainer ? this.tableContainer : this.tableContainer.slice(0, 8);
                },
                tryContentText() {
                    return this.showAll ? this.tryContent : this.tryContent.slice(0, 8);
                },
                endorsementsText(){
                    return this.showAllEndorsements ? this.endorsements : this.endorsements.slice(0, 5);
                },
                forewardText(){
                    return this.showAllForeward ? this.foreward : this.foreward.slice(0, 5);
                }
            },
            methods: {
                hoverStyle: function (event) {
                    this.originalColor = event.target.style.color;
                    event.target.style.color = "#E3007F";
                    event.target.style.textDecoration = 'underline';
                },
                restoreStyle: function (event) {
                    event.target.style.color = this.originalColor;
                    event.target.style.textDecoration = 'none';
                },
                windowOpen: function (url) {
                    window.open(url)
                },
                handleClick(tab, event) {
                    const element = document.querySelector("#" + this.activeName)
                    if (element != null) {
                        element.scrollIntoView({ behavior: 'smooth' });
                    }
                },
                getDiscountPrice(item) {
                    return Math.floor(item.unitPrice * item.discount / 100);
                },
                storeTempList(bookID,memberID) {
                    if (this.loginCheck()) {
                        let self = this;
                        let url = '@Url.Action("ActionTo", "Action")?bookID=' + bookID + '&memberID=' + memberID + '&actionID=' + 4;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                if (result) {
                                    self.$notify({
                                        title: '放入暫存清單成功',
                                        message: '本書已加入暫存清單',
                                        type: 'success'
                                    });
                                }
                                else {
                                    self.$notify({
                                        title: '放入暫存清單失敗',
                                        message: '本書已加入過暫存清單',
                                        type: 'warning'
                                    });
                                }
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });
                    }
                },
                addToCart(bookID,memberID){
                    if (this.loginCheck()) {
                        let self = this;
                        let url = '@Url.Action("ActionTo", "Action")?bookID=' + bookID + '&memberID=' + memberID + '&actionID=' + 7;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                if (result) {
                                    self.$notify({
                                        title: '加入購物車成功',
                                        message: '本書已加入購物車',
                                        type: 'success'
                                    });
                                }
                                else {
                                    self.$notify({
                                        title: '加入購物車失敗',
                                        message: '本書已在購物車內',
                                        type: 'warning'
                                    });
                                }
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });
                    }
                },
                redirectToCart(memberID) {
                    if (this.loginCheck()) {
                        window.location.href = '@Url.Action("ShoppingCart", "Order")' + '?memberID=' + memberID;
                    }
                },
                loginCheck() {
                    if (!this.isLogin) {
                        this.$alert('尚未登入', '', {
                            confirmButtonText: '前往登入',
                            showCancelButton: true,
                            cancelButtonText: '取消',
                            callback: action => {
                                if (action === 'confirm') {
                                    this.fullscreenLoading = true;
                                    setTimeout(() => {
                                        this.fullscreenLoading = false;
                                        window.location.href = "../../Member/Login";
                                    }, 1000);
                                }
                            }
                        });
                        return false;
                    }
                    return true;
                },
                writeComment(bookID,memberID,text,stars) {
                    if (this.loginCheck()) {
                        let self = this;
                        let url = '@Url.Action("writeComment", "Comment")?memberID=' + memberID + '&bookID=' + bookID + '&stars=' + stars + '&text=' + text;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                if (result) {
                                    self.$message({
                                        message: '評價成功！請重載網頁',
                                        type: 'success'
                                    });
                                }
                                else {
                                    self.$notify({
                                        title: '已評價此書',
                                        type: 'warning'
                                    });
                                }
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });
                    }
                },
                toggleShow: function () {
                    this.showAll = !this.showAll
                },
                toggleShowEndorsements: function(){
                    this.showAllEndorsements = !this.showAllEndorsements
                },
                toggleShowForeward: function(){
                    this.showAllForeward = !this.showAllForeward
                },
                toggleShowTableContainer: function(){
                    this.showAllTableContainer = !this.showAllTableContainer
                },
                changeMethod: function (type) {
                    this.activeName = type
                    setTimeout(() => {
                        this.handleClick();
                    }, 200);
                    setTimeout(() => {
                        if(type == 'foreward'){
                            this.toggleShowForeward();
                        }
                        else if(type == 'endorsements'){
                            this.toggleShowEndorsements();
                        }
                        else if(type == 'tableContainer'){
                            this.toggleShowTableContainer();
                        }
                        else{
                            this.toggleShow();
                        }
                    }, 1200);
                },
                openPreview(index) {
                    this.dialogIndex = index
                    this.showDialog = true
                },
                articalUrl(articalID){
                    return "@Url.Action("Promotions活動文章Detail", "Promotions", new { id = "ARTICALID" })".replace("ARTICALID", articalID);
                },
                homeUrl(){
                    return "@Url.Action("Home", "Home")"
                },
                menuUrl(){
                    return "@Url.Action("Menu", "Home")"
                },
                categoryUrl(categoryID){
                    return "@Url.Action("分類頁面", "Category", new { id = "ID" })".replace("ID", categoryID);
                },
                bookUrl(bookID) {
                    return "@Url.Action("BookInformation", "Book", new { id = "BOOKID" })".replace("BOOKID", bookID);
                },
                authorUrl(authorID){
                    return "@Url.Action("authorInformation", "Book", new { id = "AUTHORID" })".replace("AUTHORID", authorID);
                },
                publisherUrl(publisherID){
                    return "@Url.Action("publisherInformation", "Book", new { id = "PUBLISHERID" })".replace("PUBLISHERID", publisherID);
                },
                translatorUrl(translatorID){
                    return "@Url.Action("translatorInformation", "Book", new { id = "TRANSLATORID" })".replace("TRANSLATORID", translatorID);
                },
                painterUrl(painterID){
                    return "@Url.Action("painterInformation", "Book", new { id = "PAINTERID" })".replace("PAINTERID", painterID);
                },
             
            },
            mounted() {
                setTimeout(() => {
                    this.loadThisPage = false
                }, 500)
            }
        })
    let testLogin = @_userInforService.UserId !== 0
    app.isLogin = testLogin
    </script>
</body>
</html>