@{
    ViewData["Title"] = "心理勵志";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjBookMvcCore.styles.css" asp-append-version="true" />
    <style>
        a:link, a:visited {
            text-decoration: none;
            color: inherit;
        }

        .font14px {
            font-size: 14px
        }

        .fontClean {
            text-decoration: none;
            color: inherit;
        }

        .accordion-button {
            background-color: #eeeeee;
            min-height: 15px
        }

            .accordion-button:active, .accordion-button::backdrop, .accordion-button:is(:hover) {
                background-color: #ffffff;
            }

            .accordion-button:not(.collapsed) {
                background-color: #eeeeee;
                color: inherit;
            }

        .layoutList, .layoutGrid {
            width: 6%;
            height: 6%;
        }
    </style>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    @*頁面位置*@
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Home">首頁</a></li>
            <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Menu">書籍</a></li>
            <li class="breadcrumb-item"><a class="linkaFormat" href="~/Category/中文書">中文書</a></li>
            <li class="breadcrumb-item active" aria-current="page">心理勵志</li>
        </ol>
    </nav>
    <div class="container" style="margin-top: 20px">
        <div class="row">
            @* 左邊功能欄 *@
            <div class="col-2">
                <div class="card">
                    @*分類選單*@
                    <div class="card-header">
                        心理勵志
                    </div>
                    <ul class="list-group list-group-flush">
                        @{
                            BookShopContext db = new BookShopContext();
                            var categories = db.Categories.Where(c => c.CategoryId == 16).Select(c => new { c.CategoryName }).ToList();
                            foreach (var category in categories)
                            {
                                var subcategories = db.SubCategories
                                .Where(s => s.CategoryId == 16)
                                .Select(s => new { SubCategoryName = s.SubCategoryName ?? "" })
                                .ToList();
                            }
                        }
                    </ul>
                </div>
            </div>
            @*右邊書籍欄*@
            <div class="col">
                @*排序欄*@
                <div class="row">
                    <div class="col">
                        <div style="float:right">
                            <span>排序方式</span>
                            <div class="btn-group">
                                <select id="sort-Select" class="form-select" aria-label="Default select example">
                                    <option value="PublicationDate" selected>出版日期排序</option>
                                    <option value="discountedPrice">優惠價格排序</option>
                                    @*<option value="topsell">暢銷排行榜</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                @*書籍顯示欄*@
                <div class="row">
                    <div class="col" id="listView" style='padding:0'>
                        <div class="row" id="booksview">
                            @{
                                var pageSize = 30; // 每頁顯示30筆資料
                                var sub = db.SubCategories.Where(s => s.CategoryId == 16).Select(s => new { s.SubCategoryId }).ToList();
                                foreach (var category in sub)
                                {
                                    var categorydetail = db.CategoryDetails.Where(c => c.SubCategoryId == category.SubCategoryId).Select(c => new { c.BookId }).ToList();
                                    var bookCount = categorydetail.Count();
                                    int pageCount = (int)Math.Ceiling((double)bookCount / pageSize);
                                    int pageIndex = 1;
                                    while (pageIndex <= pageCount)
                                    {
                                        var pageBooks = categorydetail.Skip((pageIndex - 1) * pageSize).Take(pageSize).ToList();
                                        if (pageBooks.Any())
                                        {
                                            foreach (var categoryBook in pageBooks)
                                            {
                                                var book = db.Books.Where(b => b.BookId == categoryBook.BookId).FirstOrDefault();
                                                var author = db.AuthorDetails.Where(a => a.BookId == categoryBook.BookId).Select(a => new { a.AuthorId }).FirstOrDefault();
                                                var authorName = author != null ? db.Authors.Where(a => a.AuthorId == author.AuthorId).Select(a => new { a.AuthorName }).FirstOrDefault() : null ;
                                                var discount = db.BookDiscountDetails.Where(d => d.BookId == categoryBook.BookId).Select(d => new { d.BookDiscountId }).FirstOrDefault();
                                                var discountAmount = discount != null ? db.BookDiscounts.Where(d => d.BookDiscountId == discount.BookDiscountId).Select(d => new { d.BookDiscountId, d.BookDiscountAmount, d.BookDiscountName }).FirstOrDefault() : null;
                                                var discountedPrice = book?.UnitPrice * (1 - (discountAmount != null ? discountAmount.BookDiscountAmount : 0) / 100) ?? 0;

                                                <div class="col book-item" data-publication-date="@book?.PublicationDate" data-price="@( (int)Math.Round(discountedPrice) )">
                                                    <div style="position:relative">
                                                        <a><img src="@book?.CoverPath"></a>
                                                    </div>
                                                    <div class="caption">
                                                        <ul style="list-style:none; margin:0; padding:0;">
                                                            <li>
                                                                <a class="bookCaption">@book?.BookTitle</a>
                                                            </li>
                                                            <li class='prod_author'>作者：@if (authorName != null)
                                                                {
                                                                    <a href="/rwd_searchResult.html?keyword%5B%5D=@authorName&keyType%5B%5D=2">@authorName.AuthorName</a>
                                                                }
                                                            </li>
                                                            <li class="Price">原    價：<span>@(
                                                    (int)Math.Round(book?.UnitPrice ?? 0)
                                                    )</span>元</li>
                                                            <li class="discPrice">優惠價：<span>@(
                                                    discountAmount != null ? discountAmount.BookDiscountName : ""
                                                    )</span><span>@(
                                                          (int)Math.Round(discountedPrice)
                                                          )</span>元</li>
                                                            <li class="publicationDate">出版日期：<span>@book?.PublicationDate.ToString("yyyy/MM/dd")</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        pageIndex++;
                                    }
                                }
                          }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/booksview.js"></script>@*選單排序判斷*@
</body>
</html>