@inject UserInforService _userInforService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - prjBookMvcCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjBookMvcCore.styles.css" asp-append-version="true" />
    <style>
        div {
            border: 1px solid #ff0000
        }

        .zero {
            margin: 0;
            padding: 0;
        }

        .menu ul li { /*li水平顯示*/
            display: inline;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="align-items-start">
                @Html.ActionLink("讀本", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })  @*須換圖*@
            </div>
            <div class="justify-content-end menu">
                <ul class="zero">
                    @{
                        if (_userInforService.UserId != 0)
                        {
                            <li> Hi! @_userInforService.UserName </li>
                            <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Member/LogOut">登出</a></li>
                        }
                        else
                        {
                            <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Member/Login">登入</a></li>
                            <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Member/Signin">註冊</a></li>
                        }
                    }
                    <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Member/MemberCenter">會員中心</a></li>
                    <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Order/ShoppingCart"><img src="~/Image/shoppingCartIcon20px.png" style="width:20" /></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar navbar-light bg-light container-fluid" style="border:1px solid #000000; background-color:#ebf8bc">
                @* 分類  *@
                <form class="justify-content-start">
                    <div class="menu">
                        <ul class="zero">
                            <li><a role="button" class="btn btn-sm btn-outline-success mx-1" href="~/Home/Menu">書籍</a></li>
                            <li>
                                <a role="button" class="btn btn-sm btn-outline-success mx-1" href="~/Promotions/Index">優惠活動</a>
                            </li>
                            <li><a role="button" class="btn btn-sm btn-outline-success mx-1" href="~/Artical/List全部文章">推薦文章</a></li>
                        </ul>
                    </div>
                </form>
                <form class="justify-content-end">
                    <div class="input-group navbar navbar-light bg-light menu" style="margin-top:10px; border:1px solid #000">
                        <input id="search_input" style="border-right: #C4C4C4 2px solid;" placeholder="搜尋" type="search" class="form-control inputForSearch ui-autocomplete-input" maxlength="40" value="" autocomplete="off">
                        <a role="button" class="btn btn-sm btn-secondary mx-1" href="#id">搜尋</a></li>
                    </div>
                </form>
            </div>
            <div class="navbar navbar-light bg-light container-fluid" style="margin-top:10px; border:1px solid #000">
                @* 活動 *@
                <img src="~/Image/demo-pic.jpg" width="100%" height="30px" />
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @* body *@
        @RenderBody()
    </div>


    <div class="container body-content">
        @* buttom *@
        <br /><hr />
        <div class="container">
            <div class="row">
                <div class="col" style="text-align:center">
                    <img src="~/Image/AD.png" alt="活動or優惠or廣告" width="100%" />
                    廣告招商中
                </div>
                <div class="col" style="text-align:center">
                    <img src="~/Image/AD.png" alt="活動or優惠or廣告" width="100%" />
                    廣告招商中
                </div>
                <div class="col" style="text-align:center">
                    <img src="~/Image/AD.png" alt="活動or優惠or廣告" width="100%" />
                    廣告招商中
                </div>
            </div>
        </div>

        <br />
        <hr />
        <div>
            <span style="margin-right:10px"><a href="#id">客服專區</a></span>
            <span style="margin-right:10px"><a href="~/Home/QA">客服專區</a></span>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
