@inject UserInforService _userInforService
@{
    BookShopContext db = new BookShopContext();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 讀本</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjBookMvcCore.styles.css" asp-append-version="true" />
    <style>
        div {
            /*border: 1px solid #ff0000*/
        }

        .zero {
            margin: 0;
            padding: 0;
        }

        .menu ul li { /*li水平顯示*/
            display: inline;
        }

        /*浮動優惠*/
        .popup-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(250, 240, 230);
            padding: 20px;
            border: 2px dashed rgb(150, 25, 200);
            border-radius: 25px 0;
            display: none;
            z-index: 9999;
        }

            .popup-container.show-popup {
                display: block;
            }

        #floating-button {
            position: fixed;
            bottom: 20%;
            left: 8%;
            transform: translate(0, -50%);
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end; /* 內容區塊往下對齊 */
            align-items: center; /* 內容區塊水平置中 */
        }

        .fontsize {
            font-size: 20px;
        }

        a:link, a:visited {
            text-decoration: none;
            color: inherit;
        }

        #viewcart_popup {
            display: none; /* 設定浮動視窗一開始隱藏 */
            position: absolute; /* 設定絕對定位 */
            top: 100%; /* 距離上方的距離 */
            right: 10%; /* 距離左方的距離 */
            background-color: rgb(250, 240, 230);
            padding: 10px;
            border: 2px dashed rgb(150, 25, 200);
            border-radius: 5px;
            z-index: 9999;
        }
    </style>
</head>
<body>
    @*浮動優惠*@
    <div id="floating-button" class="popup-container">
        <button class="btn btn-danger " onclick="showPopup()">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-gift" viewBox="0 0 16 16">
                <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
            </svg>
        </button>
        <span class="translate-middle badge rounded-pill bg-secondary" id="timer"></span>
    </div>
    <div id="popup" class="popup-container">
        <h2>領取優惠券</h2>
        <p style="text-align:center">滿999扣77元</p>
        <button id="close" class="position-absolute top-0 start-100 translate-middle  rounded-pill  btn-outline-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
            </svg>
        </button>
        <button class="btn btn-outline-info" onclick="takeCoupon(@_userInforService.UserId)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-perforated-fill" viewBox="0 0 16 16">
                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4-1v1h1v-1H4Zm1 3v-1H4v1h1Zm7 0v-1h-1v1h1Zm-1-2h1v-1h-1v1Zm-6 3H4v1h1v-1Zm7 1v-1h-1v1h1Zm-7 1H4v1h1v-1Zm7 1v-1h-1v1h1Zm-8 1v1h1v-1H4Zm7 1h1v-1h-1v1Z" />
            </svg>
            現在領取優惠券，立即享受折扣優惠！
        </button>
    </div>


    <div class="" style="background-image:url('');background-size:100%;position:sticky;top:0; z-index: 9999; background-color:rgb(250,250,250);">
        @*導覽開始*@
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom navbar-toggleable-sm  box-shadow mb-3 ">
            <div class="container">
                @*LOGO開始*@
                <div class="align-items-start" style="font-weight:900">
                    @Html.ActionLink("讀本", "Home", "Home", new { area = "" }, new { @class = "fontsize navbar-brand" })  @*須換圖*@
                </div>
                @*登入選項開始*@
                <div class="justify-content-end menu">
                    <ul class="zero">
                        @{
                            if (_userInforService.UserId != 0)
                            {
                                                <li> Hi! @_userInforService.UserName </li>
                                                <li><a role="button" class="btn-outline-secondary mx-3" href="~/Member/LogOut">登出</a></li>
                            }
                            else
                            {
                                                <li><a role="button" class="btn-outline-secondary mx-3" href="~/Member/Login">登入</a></li>
                                                <li><a role="button" class="btn-outline-secondary mx-3" href="~/Member/Signin">註冊</a></li>
                            }
                        }
                        <li><a role="button" class="btn-outline-secondary mx-3" href="~/Member/MemberCenter">會員中心</a></li>
                        <li id="viewcart"><a role="button" class="btn btn-outline-secondary mx-3" href="~/Order/ShoppingCart"><img src="~/Image/shoppingCartIcon20px.png" /></a></li>
                    </ul>
                    <div id="viewcart_popup" class="col-3">
                        @{
                            if (_userInforService.UserId == 0)
                            {
                                                <p>尚未登入</p>
                            }
                            else
                            {
                                                <p>購物車預覽</p>
                                                <table>
                                                    @{
                                        var totalprice = 0;
                                        var cart = db.ActionDetials.Where(a => a.MemberId == _userInforService.UserId & a.ActionId == 7).Select(a => new { a.BookId, a.Book.BookTitle, a.Book.CoverPath, a.Book.UnitPrice, a.ActionToBookId }).ToList();
                                        foreach (var g in cart)
                                        {
                                            var dis = db.BookDiscountDetails.Where(d => d.BookId == g.BookId & d.BookDiscountStartDate < DateTime.Now & d.BookDiscountEndDate > DateTime.Now).Select(d => new { d.BookDiscount.BookDiscountAmount }).ToList();
                                                                            <tr><td rowspan="4" class="p-1"><a href="~/Book/BookInformation/@g.BookId"><img src="~/Image/Book/@g.CoverPath" class="d-block w-100 img-with-border" /></a></td><td><a href="~/Book/BookInformation/@g.BookId">@(g.BookTitle.Split("$")[0])</a></td></tr>
                                                                            <tr><td>原價：<del style="color:red;font-style:oblique">@((int)Math.Round(g.UnitPrice)) </del>  元</td></tr>
                                                                            <tr class="m-1"><td> 優惠價：<span style="color: #E3007F; ">@((dis[0].BookDiscountAmount * 100).ToString("0"))</span> 折 <span style="color: #E3007F;font-weight:bold;"> @((int)Math.Round(g.UnitPrice * dis[0].BookDiscountAmount)) </span>元</td></tr>
                                            totalprice = totalprice + (int)Math.Round(g.UnitPrice * dis[0].BookDiscountAmount);
                                                                            <tr><td style="text-align:right"><a role="button" onclick="cartDel(@g.ActionToBookId)" class="btn btn-outline-info">刪除 </a></td></tr>
                                        }
                                                    }
                                                </table>
                                                <hr />
                                                <p style="text-align:center">已選購 @cart.Count 件商品，共<span style="color: #E3007F;font-weight:bold;"> @totalprice </span>元。</p>
                                                <div style="text-align:center"> <a role="button" class="btn btn-outline-danger" href="~/Order/ShoppingCart"> 結帳</a></div>
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
        @*導覽結束*@
        @*分類 & 搜尋開始*@
        <div class="navbar navbar-default navbar-fixed-top" style="">
            <div class="navbar navbar-light bg-light container" style="border:1px solid #000000; background-color:#ebf8bc">
                @*分類*@
                <form class="justify-content-start">
                    <div class="menu">
                        <ul class="zero">
                            <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Promotions/Promotions活動圖">活動專區</a></li>
                            <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Promotions/Promotions活動總覽圖">推薦專文</a></li>
                            <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Promotions/Promotions領取當周優惠">領取優惠卷</a></li>
                            <li>
                                <a role="button" class="btn btn-sm btn-outline-secondary mx-1" asp-controller="Category" asp-action="分類頁面" asp-route-id="15">人文社科</a>
                            </li>
                            <li>
                                <a role="button" class="btn btn-sm btn-outline-secondary mx-1" asp-controller="Category" asp-action="分類頁面" asp-route-id="16">心理勵志</a>
                            </li>
                            <li>
                                <a role="button" class="btn btn-sm btn-outline-secondary mx-1" asp-controller="Category" asp-action="分類頁面" asp-route-id="19">生活風格</a>
                            </li>
                            <li>
                                <a role="button" class="btn btn-sm btn-outline-secondary mx-1" asp-controller="Category" asp-action="分類頁面" asp-route-id="21">自然科普</a>
                            </li>
                            <li>
                                <a role="button" class="btn btn-sm btn-outline-secondary mx-1" asp-controller="Category" asp-action="分類頁面" asp-route-id="23">旅遊</a>
                            </li>
                            <li>
                                <a role="button" class="btn btn-sm btn-outline-secondary mx-1" asp-controller="Category" asp-action="分類頁面" asp-route-id="24">商業理財</a>
                            </li>
                            <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Home/Menu">更多書籍</a></li>
                        </ul>
                    </div>
                </form>
                @*搜尋*@
                <form class="justify-content-end">
                    <div class="input-group navbar navbar-light bg-light menu">
                        <input id="search_input" style="border-right: #C4C4C4 2px solid;" placeholder="輸入關鍵字" name="keyword" type="text" class="mx-1 form-control inputForSearch ui-autocomplete-input" maxlength="40" value="" autocomplete="off">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-outline-secondary mx-1 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                進階搜尋
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width:500px">
                                <li>
                                    <div class="m-1 p-1">
                                        <span class="mx-2">搜尋欄位</span>
                                        <select id="搜尋欄位" name="搜尋欄位" style="width:100px">
                                            <option value="ALL" selected>全文 </option>
                                            <option value="BookTitle">書名</option>
                                            <option value="Author">作者</option>
                                            <option value="ELSE">...</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="m-1 p-1">
                                        <span class="mx-2">售價</span>
                                        <input id="frontprice" style="margin-left:2em; border-right: #C4C4C4 2px solid;width:100px" placeholder="金額" type="search" maxlength="20" value="" autocomplete="off" />
                                        <span class="mx-2">至</span>
                                        <input id="backprice" style="border-right: #C4C4C4 2px solid;width:100px" placeholder="金額" type="search" maxlength="20" value="" autocomplete="off" />
                                        <span class="mx-2">之間</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="m-1 p-1">
                                        <span class="mx-2">折扣</span>
                                        <select id="折扣1" name="折扣1" style="margin-left:2em; width:100px">
                                            <option value="0" selected>請選擇 </option>
                                            @{
                                                var bookDiscount = db.BookDiscounts.Select(dis => new { dis.BookDiscountId, dis.BookDiscountName }).ToList();
                                                foreach (var dis in bookDiscount)
                                                {
                                                                    <option value="@dis.BookDiscountId">@dis.BookDiscountName</option>
                                                }
                                            }
                                        </select>
                                        <span class="mx-2">至</span>
                                        <select id="折扣2" name="折扣2" style="width:100px">
                                            <option value="0" selected>請選擇 </option>
                                            @{
                                                foreach (var dis in bookDiscount)
                                                {
                                                                    <option value="@dis.BookDiscountId">@dis.BookDiscountName</option>
                                                }
                                            }
                                        </select>

                                        <span class="mx-2">之間</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="m-1 p-1">
                                        <span class="mx-2">出版日期</span>
                                        <input style="border-right: #C4C4C4 2px solid;width:100px" placeholder="日期" type="search" maxlength="20" value="" autocomplete="off" />
                                        <span class="mx-2">至</span>
                                        <input style="border-right: #C4C4C4 2px solid;width:100px" placeholder="日期" type="search" maxlength="20" value="" autocomplete="off" />
                                        <span class="mx-2">之間</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="#" id="search_link" type="submit" class="btn btn-sm btn-outline-secondary mx-1" value="搜尋">搜尋</a>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('#search_link').click(function (e) {
                                    e.preventDefault(); // 防止点击链接后直接跳转
                                    var keyword = $('#search_input').val(); // 获取搜索关键字的值

                                    var frontPrice = $('#frontprice').val(); // 设置价格范围的起始值
                                    var backPrice = $('#backprice').val(); // 设置价格范围的结束值

                                    var url = '@Url.Action("searchList", "Home")' + '?txtKeyword=' + encodeURIComponent(keyword) + '&frontPrice=' + frontPrice + '&backPrice=' + backPrice;
                                    // 使用 Url.Action 方法动态生成 ActionLink 的 URL，并将关键字和价格范围作为参数传递
                                    window.location.href = url; // 跳转到生成的 URL
                                });
                            });
                        </script>
                    </div>
                </form>
            </div>
        </div>
        @*分類 & 搜尋結束*@

    </div>
    <br />
    <div class="container body-content">
        @* body *@
        @RenderBody()
    </div>

    <div class="container body-content">
        @* buttom *@
        <br /><hr />
        <div class="container">
            <div class="row">
                <div class="col" style="text-align:center">
                    <img src="~/Image/AD.png" alt="活動or優惠or廣告" width="100%" />
                    廣告招商中
                </div>
                <div class="col" style="text-align:center">
                    <img src="~/Image/AD.png" alt="活動or優惠or廣告" width="100%" />
                    廣告招商中
                </div>
                <div class="col" style="text-align:center">
                    <img src="~/Image/AD.png" alt="活動or優惠or廣告" width="100%" />
                    廣告招商中
                </div>
            </div>
        </div>

        <br />
        <hr />
        <div>
            <span style="margin-right:10px"><a href="#id">客服專區</a></span>
            <span style="margin-right:10px"><a href="~/Home/QA">客服專區</a></span>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    //視窗
    window.addEventListener('DOMContentLoaded', function () {
        saveStartTime();
       // startCountdown();
        //showPopup();
        var close隱藏浮動視窗 = document.querySelector('#close');
        close隱藏浮動視窗.addEventListener('click', function (event) {
            event.preventDefault();
            hidePopup();
        });
    });

    function showPopup() {
        var popup = document.getElementById("popup");
        popup.classList.add("show-popup");
    }
    function hidePopup() {
        var popup = document.getElementById("popup");
        popup.classList.remove("show-popup");
    }
    function hideBtn() {
        var btn = document.getElementById("floating-button");
        btn.classList.remove("show-popup");
    }
    function showBtn() {
        var btn = document.getElementById("floating-button");
        btn.classList.add("show-popup");
    }
</script>
<script>
    //計時
    const countdownEl = document.getElementById("timer");
    let countdownId = null;

    function getRemainingTime() {
        const startTime = sessionStorage.getItem("countdownStartTime");
        if (startTime) {
            const currentTime = Math.floor(Date.now() / 1000);
            const elapsedTime = currentTime - startTime;
            const initialTime = 60 * 60; // 60 minutes
            return Math.max(initialTime - elapsedTime, 0);
        }
        return 0;
    }
    function saveStartTime() {
        const startTime = Math.floor(Date.now() / 1000);
        sessionStorage.setItem("countdownStartTime", startTime);
    }
    function showRemainingTime() {
        let remainingTime = getRemainingTime();
        const minutes = Math.floor(remainingTime / 60);
        const seconds = remainingTime % 60;
        countdownEl.innerText = `${padZero(minutes)}:${padZero(seconds)}`;
        if (remainingTime < 0) {
            clearInterval(countdownId);
            //hideBtn();
            remainingTime = 0;
        }
        else { remainingTime--; }
    }
    function startCountdown() { countdownId = setInterval(showRemainingTime, 999); }
    function padZero(num) { return num.toString().padStart(2, '0'); }
</script>
<script>
    //click
    let isLogin = false;
    window.onload = () => {
        if (@_userInforService.UserId !== 0) {
            isLogin = true;
        };
        console.log(isLogin);
    };

    function loginCheck() {
        if (isLogin === false) {
            alert('尚未登入');
            if (confirm('前往登入')) {
                window.location.href = "../../Member/Login";
            } else {
            }
            return false;
        }
        return true;
    };

    function takeCoupon(memberID) {
        if (loginCheck()) {
            let self = this;
            let url = '@Url.Action("Promotions限時登入領取優惠","Promotions")';
            $.ajax({
                url: url,
                type: 'POST',
                success: function (result) {
                    let isSuccess = result;
                    if (isSuccess === "false") {
                        alert('已領取'); hidePopup();
                    }
                    else {
                        alert('領取成功，系統將自動轉向會員中心');
                        window.location.href = '@Url.Action("MemberCenter", "Member")';
                    }
                },
            });
        }
    };
</script>

<script>
    // 當游標進入時顯示浮動視窗
    document.getElementById('viewcart').addEventListener('mouseenter', function () {
        document.getElementById('viewcart_popup').style.display = 'block';
    });

    // 當游標離開時隱藏浮動視窗
    document.getElementById('viewcart_popup').addEventListener('mouseleave', function () {
        document.getElementById('viewcart_popup').style.display = 'none';
    });
</script>
<script>
    function cartDel(ActionToBookId) {
        let url = '@Url.Action("viewcart刪除","Action")?ActionToBookId=' + ActionToBookId;
        $.ajax({
            url: url,
            type: 'POST',
            success: function (result) {
                let isSuccess = result;
                if (isSuccess === "false") {
                    alert('刪除失敗');
                    window.location.reload();
                }
                else {
                    alert('刪除成功');
                    window.location.reload();
                }
            },
        });
    };
</script>