@model IEnumerable<prjBookMvcCore.Models.Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 讀本｜Menu</title>

    <style>
        div {
            /*border: 1px solid #ff0000*/
        }

        .zero {
            margin: 0;
            padding: 0;
        }

        .menu ul li { /*li水平顯示*/
            display: inline;
        }
    </style>
</head>
<body>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Home">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">書籍</li>
        </ol>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        @* 活動輪播圖 *@
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                    <a href="~/Promotions/Promotions註冊會員禮"><img src="~/Image/Promotions/註冊會員.png" class="d-block w-100" alt="page1" height="300"></a>
            </div>
            <div class="carousel-item">
                <a href="~/Promotions/Promotions會員"><img src="~/Image/Promotions/會員等級優惠及升等方式.png" class="d-block w-100" alt="page2" height="300"></a>
            </div>
            <div class="carousel-item">
                <a href="~/Promotions/Promotions促銷活動"><img src="~/Image/Promotions/書目特惠.png" class="d-block w-100" alt="page2" height="300"></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br />
    @*暢銷排行榜*@
    <div class="container">
        <div class="row">
            <div class="col align-content-start" style="display: flex">
                <h3>暢銷排行榜</h3>
            </div>
            <div class="col justify-content-end" style="display: flex; padding:5px">
                <a role="button" class="btn btn-sm btn-outline-success mx-1" href="~/Home/Home">看更多</a>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleTopSell" class="carousel slide">
                <div class="carousel-inner">
                    @* 暢銷排行榜輪播圖 *@
                    @*輪播書本第一頁*@ <div class="carousel-item active">
                        <div class="row">
                            @*第一組*@<div class="col">
                                @*圖片*@<div style="position:relative">
                                    <a><img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." /></a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第二組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第三組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第四組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第五組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*輪播書本第二頁*@<div class="carousel-item">
                        <div class="row">
                            @*第一組*@<div class="col">
                                @*圖片*@<div style="position:relative">
                                    <a><img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." /></a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第二組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第三組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第四組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第五組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*輪播圖切換按鈕*@ <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleTopSell" data-bs-slide="prev" border=5>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    @*輪播圖切換按鈕*@<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleTopSell" data-bs-slide="next" border=5>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid justify-content-center2" style="margin-top: 20px">
        <div class="row">
            @* 左邊功能欄 *@
            <div class="col-2">
                <div class="card">
                    @* 注目專區 *@
                    <div class="card-header">
                        推薦文章
                    </div>
                    <ul class="list-group list-group-flush">
                        @{
                            BookShopContext db = new BookShopContext();
                            var q = db.Articals.Select(a => new { a.ArticalId, a.ArticalTitle }).Take(8);
                            foreach (var g in q)
                            {
                                    <li class="list-group-item"><span><a href="~/Artical/Detail文章/@g.ArticalId">@g.ArticalTitle</a></span></li>
                            }
                        }
                    </ul>
                </div>
                <br />
                <div class="card">
                    @* 中文書分類 *@
                    <div class="card-header">
                        中文書
                    </div>
                    <ul class="list-group list-group-flush">
                        @{
                            var c = db.Categories.Where(x => x.CategoryId > 14).Select(x=>new { x.CategoryId, x.CategoryName});
                            foreach (var item in c)
                                {
                                        <li class="list-group-item"><span><a href="~/Category/@item.CategoryId">@item.CategoryName</a></span></li>
                                }
                            }
                    </ul>
                </div>
            </div>
            @* Body *@
            <div class="col-10 bg-light">
                @RenderSection("test", required: false)
                <section class="font14px">@RenderBody()</section>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
