@{
    ViewData["Title"] = "Promotions促銷活動";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <style>
        a {
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
        a:hover {
            color: rgb(125, 175, 75);
            text-decoration: underline;
        }

        .two-lines {
          line-height: 1.2em; /* 調整需要的行高 */
          height: 2.5em; /* 行高的兩倍 */
 
        }
        .clamp {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .img-with-border {
              border: 1px dashed rgb(200, 150, 250) ;
              padding:5px;
            }
        .img-with-border:hover {
              border: 2px ridge rgb(150, 200, 100); 
            }

        .sticky1 {
            position:sticky;
            top: 0;
        }
    </style>
</head>

<body>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none" href="~/Home/Home" style="color:black">首頁</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none" href="~/Promotions/Promotions活動總覽圖"
                   style="color:black">活動</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" style="color:gray">促銷</li>
        </ol>
    </nav>
    <h1>Promotions促銷活動</h1>

    <div class="container-fluid justify-content-center2" style="margin-top: 20px">
        <div class="row">
            @* 左邊功能欄 *@
            <div class="col-2" style="position: relative;">
                <div class="sticky1">
                <div class="card " >
                    <div class="card-header">書目優惠</div>
                    <ul class="list-group list-group-flush">
                        @{
                            BookShopContext db = new BookShopContext();
                            for (int i = 1; i <= 5; i++)
                            {
                                var bookDiscount = db.BookDiscounts.Where(b => b.BookDiscountId == i).Select(b => b).ToList();
                                foreach (var g in bookDiscount)
                                {
                                        <li class="list-group-item"><a href="#@g.BookDiscountName">@g.BookDiscountName</a></li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="card">
                    <div class="card-header">推薦文章</div>
                    <ul class="list-group list-group-flush">
                        @{
                            //BookShopContext db = new BookShopContext();
                            var Artical = db.Articals.OrderByDescending(a => a.ArticalId).Select(a => new{ a.ArticalId,   a.ArticalTitle }).Take(5);
                            foreach (var g in Artical)
                            {
                                    <li class="list-group-item"><span><a href="~/Promotions/Promotions活動文章Detail/@g.ArticalId">@g.ArticalTitle</a></span></li>
                            }
                        }
                    </ul>
                </div>
                </div>
            </div>

            @* Body *@
            <div class="col">
                @{
                    for (int i = 1; i <= 5; i++)
                    {
                        var bookDiscount = db.BookDiscounts.Where(b => b.BookDiscountId == i).Select(b =>  b).ToList();
                        foreach (var g in bookDiscount)
                        {
                            <div class="row">
                                <div class="col align-content-start" style="display: flex" id="@g.BookDiscountName">
                                    <h3>@g.BookDiscountName</h3>
                                </div>
                                <div class="col justify-content-end" style="display: flex; padding:5px">
                                    <a role="button" class="btn btn-sm btn-outline-success mx-1" href="~/Promotions/Index">看更多</a>
                                </div>
                            </div>
                            <div class="row">
                                @{
                                    var bookDiscountDetail = db.BookDiscountDetails.Where(d => d.BookDiscountId == g.BookDiscountId & d.BookDiscountStartDate < DateTime.Now & d.BookDiscountEndDate > DateTime.Now).Select(d => new { d.Book.BookTitle,  d.Book.UnitPrice, d.Book.CoverPath,  d.Book.BookId, d.Book.PublicationDate  }).Take(8).ToList();
                                    foreach (var book in bookDiscountDetail)
                                    {
                                        string title中 = book.BookTitle.Split("$")[0];
                                        var q作者 = db.AuthorDetails.Where(a => a.BookId == book.BookId).Select(a => new  {       a.Author.AuthorName  }).ToList();
                                        string s作者 = "";
                                        foreach (var item in q作者) { s作者 += item.AuthorName + " "; }
                                        string price原價 = $"{book.UnitPrice:c0}";
                                        var price優惠價 = $"{(g.BookDiscountAmount * book.UnitPrice):0}";
                                        <div class="col-3 ">
                                            <a id="@book.BookId" href="~/Book/BookInformation/@book.BookId"> <img src="~/Image//Book/@book.CoverPath" class="d-block w-100 img-with-border" alt="..." title="@title中" /></a>
                                            <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                                                <li class='prod_TitleMain '><div class="clamp two-lines"><a id="@book.BookId" href="~/Book/BookInformation/@book.BookId" title="@title中">@title中</a></div></li>
                                                <li class="discAuthor">作者：@s作者</li>
                                                <li class="discPrice原價">原價：<del style="color:red;font-style:oblique">@price原價</del></li>
                                                <li class="discPrice優惠價">優惠價：@g.BookDiscountName @price優惠價 元</li>
                                                <li class="publicationDate">出版日期：<span>@book.PublicationDate.ToString("yyyy/MM/dd")</span></li>
                                            </ul>
                                        </div>
                                    }
                                }
                            </div>
                        }
                        <hr />
                    }
                }
            </div>

        </div>
    </div>
</body>
</html>