@inject UserInforService _userInforService
@{
    ViewData["Title"] = "讀本當周優惠";
    BookShopContext db = new BookShopContext();
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .coupontext {
            font-size: 2em;
            font-style: italic;
            color: cornsilk;
            font-weight: bold;
          text-align:center;
        }

        .expired {
            color: red;
        }
    </style>
</head>
<body>
    <h1>本周優惠劵</h1>
    @{
        DateTime today = DateTime.Today;
        DayOfWeek currentDayOfWeek = today.DayOfWeek;
        // 获取本周三的日期
        DateTime wednesday = today.AddDays(DayOfWeek.Wednesday - currentDayOfWeek);
        // 获取本周六和本周日的日期
        DateTime saturday = today.AddDays(DayOfWeek.Saturday - currentDayOfWeek);
        DateTime sunday = today.AddDays(DayOfWeek.Sunday - currentDayOfWeek);
    }

    <p id="wednesday">週三 @wednesday.ToString("MM/dd") (三)</p>
    <div class="row" style="text-align:center;">
        <div class="col-1"></div>
        <div class="col-5" style="background-image: url('/Image/Promotions/週三.png'); background-size:auto;background-repeat:no-repeat; padding:25px;border:unset;align-items: center;">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7 coupontext">滿888扣88</div>
                <div class="col-1">
                    @{
                        if (_userInforService.UserId != 0)
                        {
                            var q = db.OrderDiscountDetails.Where(d => d.MemberId == _userInforService.UserId & d.OrderDiscountId == 17 & d.OrderDiscountStartDate == wednesday).Select(d => d);
                            if (q.Count() != 0)
                            {
                                    <button class="btn-outline-warning" id="weekend_coupon17" disabled>已领取 </button>
                            }
                            else
                            {
                                    <button class="btn-outline-warning" id="wednesday_coupon17" onclick="takeWeekCoupon(17,'@wednesday.ToString("yyyy/MM/dd")',1,this)">领取</button>
                            }
                        }
                        else
                        {
                                <button class="btn-outline-warning" id="wednesday_coupon17" onclick="takeWeekCoupon(17,'@wednesday.ToString("yyyy/MM/dd")',1,this)">领取</button>
                        }
                    }
                </div>
            </div>
        </div><div class="col-1"></div>
        <div class="col-5" style="background-image: url('/Image/Promotions/週三.png'); background-size:auto;background-repeat:no-repeat; padding:25px;border:unset;">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7 coupontext">滿1699扣199</div>
                <div class="col-1">
                    @{
                        if (_userInforService.UserId != 0)
                        {
                            var q = db.OrderDiscountDetails.Where(d => d.MemberId == _userInforService.UserId & d.OrderDiscountId == 15 & d.OrderDiscountStartDate == wednesday).Select(d => d);
                            if (q.Count() != 0)
                            {
                                    <button class="btn-outline-warning" id="weekend_coupon15" disabled>已领取 </button>
                            }
                            else
                            {
                                    <button class="btn-outline-warning" id="wednesday_coupon15" onclick="takeWeekCoupon(15,'@wednesday.ToString("yyyy/MM/dd")',1,this)">领取</button>
                            }
                        }
                        else
                        {
                                <button class="btn-outline-warning" id="wednesday_coupon15" onclick="takeWeekCoupon(15,'@wednesday.ToString("yyyy/MM/dd")',1,this)">领取</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    <p id="weekend">週末 @saturday.ToString("MM/dd") (六)、@sunday.ToString("MM/dd") (日)</p>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5" style="background-image: url('/Image/Promotions/週末.png'); background-size:auto;background-repeat:no-repeat; padding:25px;border:unset">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7  coupontext">滿1299扣139</div>
                <div class="col-1">
                    @{
                        if (_userInforService.UserId != 0)
                        {
                            var q = db.OrderDiscountDetails.Where(d => d.MemberId == _userInforService.UserId & d.OrderDiscountId == 16 & d.OrderDiscountStartDate == saturday).Select(d => d);
                            if (q.Count() != 0)
                            {
                                    <button class="btn-outline-warning" id="weekend_coupon16" disabled>已领取 </button>
                            }
                            else
                            {
                                    <button class="btn-outline-warning" id="weekend_coupon16" onclick="takeWeekCoupon(16,'@saturday.ToString("yyyy/MM/dd")',2,this)">领取</button>
                            }
                        }
                        else
                        {
                                <button class="btn-outline-warning" id="weekend_coupon16" onclick="takeWeekCoupon(16,'@saturday.ToString("yyyy/MM/dd")',2,this)">领取</button>
                        }
                    }
                </div>
            </div>
        </div><div class="col-1"></div>
        <div class="col-5" style="background-image: url('/Image/Promotions/週末.png'); background-size:auto;background-repeat:no-repeat; padding:25px;border:unset;">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7 coupontext">滿2499扣299</div>
                <div class="col-1">
                    @{
                        if (_userInforService.UserId != 0)
                        {
                            var q = db.OrderDiscountDetails.Where(d => d.MemberId == _userInforService.UserId & d.OrderDiscountId == 14 & d.OrderDiscountStartDate == saturday).Select(d => d);
                            if (q.Count() != 0)
                            {
                                    <button class="btn-outline-warning" id="weekend_coupon14" disabled>已领取 </button>
                            }
                            else
                            {
                                    <button class="btn-outline-warning" id="weekend_coupon14" onclick="takeWeekCoupon(14,'@saturday.ToString("yyyy/MM/dd")',2,this)">领取</button>
                            }
                        }
                        else
                        {
                                <button class="btn-outline-warning" id="weekend_coupon14" onclick="takeWeekCoupon(14,'@saturday.ToString("yyyy/MM/dd")',2,this)">领取</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        var wednesdayCouponBtn17 = document.getElementById("wednesday_coupon17");
        var wednesdayCouponBtn15 = document.getElementById("wednesday_coupon15");

        var today = new Date();
        var currentDayOfWeek = today.getDay(); // 获取当前日期的星期几

        // 检查是否为星期四、五、六、日
        if (currentDayOfWeek >= 4 || currentDayOfWeek == 0) {
            wednesdayCouponBtn17.innerText = "已過期";
            wednesdayCouponBtn17.disabled = true;
            wednesdayCouponBtn17.classList.add("expired");
            wednesdayCouponBtn17.style.color = 'rgb(200,0,0)';
            wednesdayCouponBtn15.innerText = "已過期";
            wednesdayCouponBtn15.disabled = true;
            wednesdayCouponBtn15.classList.add("expired");
            wednesdayCouponBtn15.style.color = 'rgb(200,0,0)';
        }
    </script>
    <script>
        let isLogin = false;
        window.onload = () => {
            if (@_userInforService.UserId !== 0) {
                isLogin = true;
            };
            console.log(isLogin);
        };

        function loginCheck() {
            if (isLogin === false) {
                alert('尚未登入');
                if (confirm('前往登入')) {
                    window.location.href = "../../Member/Login";
                } else {
                }
                return false;
            }
            return true;
        };

        function takeWeekCoupon(discountID, date, time, button) {
            if (loginCheck()) {
                let url = '@Url.Action("Promotions領取特定日優惠","Promotions")?discountID=' + discountID + '&date=' + date + '&time=' + time;
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (result) {
                        let isSuccess = result;
                        if (isSuccess === "false") {
                            alert('已領取');
                            button.textContent = "已领取";
                            button.disabled = true;
                        }
                        else {
                            alert('領取成功');
                            button.textContent = "已领取";
                            button.disabled = true;
                            window.location.reload();
                        }
                    },
                });
            }
        };
    </script>
</body>
</html>