@model CSearch
@{
    ViewData["Title"] = "SearchTest";
}
@{
    string Keyword = ViewBag.KeyWord;
}

<h1>SearchTest</h1>

<p>Keyword: @ViewBag.KeyWord</p>
@if (Model != null)
{

    @* Body *@
    <div class="col">
        <div class="row">
            <p>書名/ISBN</p>
            @{
                if (Model.c書.Count != 0)
                {
                    int count = 0;
                    foreach (var item in Model.c書)
                    {
                        count++;
                        <div class="clamp two-lines mt-3"><a id="@item.BookId" href="~/Book/BookInformation/@item.BookId" title="@item.BookTitle">@count @item.BookTitle</a></div>
                    }
                }
                else
                {
                        <p>No results found.</p>
                }
            }
        </div>
        <hr />
        <div class="row">
            <p>作者</p>
            @{
                if (Model.c作者.Count != 0)
                {
                    int count = 0;
                    foreach (var item in Model.c作者)
                    {
                        count++;
                        <div class="clamp two-lines mt-3"><a href="~/Book/authorInformation?id=@item.AuthorId" title="查看 @item.AuthorName 書籍">@count @item.AuthorName</a></div>
                    }
                }
                else
                {
                       <p>No results found.</p>
                }
            }
        </div>
        <hr>
        <div class="row">
            <p>譯者</p>
            @{
                if (Model.c譯者.Count != 0)
                {
                    int count = 0;
                    foreach (var item in Model.c譯者)
                    {
                        count++;
                        <div class="clamp two-lines mt-3"><a href="~/Book/translatorInformation?id=@item.TranslatorId" title="查看 @item.TranslatorName 書籍">@count @item.TranslatorName </a></div>
                    }
                }
                else
                {
                          <p>No results found.</p>
                }
            }
        </div>
        <hr />
        <div class="row">
            <p>繪者</p>
            @{
                if (Model.c繪者.Count != 0)
                {
                    int count = 0;
                    foreach (var item in Model.c繪者)
                    {
                        count++;
                        <div class="clamp two-lines mt-3"><a href="~/Book/painterInformation?id=@item.PainterId" title="查看 @item.PainterName 書籍">@count @item.PainterName </a></div>
                    }
                }
                else
                {
                    <p>No results found.</p>
                }
            }
        </div>
        <hr>
        <div class="row">
            <p>出版社</p>
            @{
                if (Model.c出版社.Count != 0)
                {
                    int count = 0;
                    foreach (var item in Model.c出版社)
                    {
                        count++;
                        <div class="clamp two-lines mt-3"><a href="~/Book/publisherInformation?id=@item.PublisherId" title="查看 @item.PublisherName 書籍">@count @item.PublisherName </a></div>
                    }
                }
                else
                {
                    <p>No results found.</p>
                }
            }
        </div>
        <hr />
        <div class="row">
            <p>分類</p>
            @{
                if (Model.c分類.Count != 0)
                {
                    int count = 0;
                    foreach (var item in Model.c分類)
                    {
                        count++;
                        <div class="clamp two-lines mt-3"> <a href="~/Category/分類頁面/@item.CategoryId" title="查看 @item.CategoryName 書籍">@count @item.CategoryName </a></div>
                    }
                }
                else
                {
                    <p>No results found.</p>
                }
            }
        </div>
    </div>
}
else
{
    <p>No results found.</p>
}