@inject UserInforService user
@model IEnumerable<prjBookMvcCore.Models.Comment>

@{
    ViewData["Title"] = "我的評論";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<div class="row">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="mt-2 mb-4">我的評論</h4>
        <span>評論數量：@Model.Count() 則</span>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        @{
            int countcomment = 0;
            foreach (var item in Model)
            {
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 text-center mb-3">
                            <a href="@Url.Action("BookInformation", "Book", new { id = item.BookId })">
                                <img height="150" src="~/Image/Book/@item.Book.CoverPath" alt="@item.Book.BookTitle" />
                            </a>
                        </div>
                        <div class="col">
                            <ul style="list-style:none; margin:0; padding:0;">
                                <li class="bookCaption mb-2" style="color:brown; font-weight:bold" id="text-@item.BookId">
                                    <a class="as1" href="@Url.Action("BookInformation", "Book", new { id = item.BookId })">
                                        @item.Book.BookTitle.Replace("$$"," ")
                                    </a>
                                </li>
                                <li>
                                    評論等級：
                                    @for (int x = 0; x < item.Stars; x++)
                                    {
                                        <img style="width:20px; height:auto" src="~/image/icons8-star.gif" />
                                    }
                                </li>
                                <li class="mt-2">評論日期：@item.CommentTime.ToLongDateString()</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col" style="color:gray">
                            @item.CommentText
                        </p>
                    </div>
                </div>
                countcomment++;
                if (countcomment % 2 == 0)
                {
                    <div class="row"></div>
                    <hr />
                    <br />
                }
            }
        }
    </div>
</div>
