@model IEnumerable<prjBookMvcCore.Models.Book>

@{
    ViewData["Title"] = "myCollect";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}
<style>

</style>

<div class="container" style="margin-top:15px">
    <p><h6>收藏清單</h6></p>


    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="btn btn-outline-light active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">暫存清單</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn btn-outline-light " id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">收藏的作者</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn btn-outline-light " id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">收藏的出版社</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="btn btn-outline-light " id="pills-4-tab" data-bs-toggle="pill" data-bs-target="#pills-4" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">可購買時通知我</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <table class="table table-hover">
                <tr>
                    <th>序號</th>
                    <th>書名</th>
                    <th>優惠</th>
                    <th>優惠價</th>
                    <th>出版社</th>
                    <th>庫存</th>
                </tr>

                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookTitle)
                                </td>
                                <td>
                                    @{
                                    string 活動 = "無優惠活動";
                                    //if (item.DiscountDetails.FirstOrDefault() != null)
                                    //{
                                    //    活動 = item.DiscountDetails.Select(x => x.Discount.DiscountName).FirstOrDefault().ToString();
                                    //}
                                    }
                                    @Html.DisplayFor(modelItem => 活動)
                                </td>
                                <td>
                                    @{
                                    decimal 折扣 = 1;
                                    //if (item.DiscountDetails.FirstOrDefault() != null)
                                    //{
                                    //    折扣 = Convert.ToDecimal(item.DiscountDetails.Select(x => x.Discount.DiscountAmount));
                                    //}
                                    var 活動價 = item.UnitPrice * 折扣;
                                    }

                                    @Html.DisplayFor(modelItem => 活動價)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Publisher!.PublisherName)
                                </td>
                                <td>
                                    @{
                                    string 供貨狀況 = item.UnitInStock > 0 ? "可供貨" : "缺貨";
                                    }
                                    @Html.DisplayFor(modelItem => 供貨狀況)
                                </td>

                                <td>
                                    @Html.ActionLink("刪除", "Delete", new { id = item.BookId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                                </td>
                            </tr>
                    }
                }
            </table> @*//暫存清單*@
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <table class="table table-hover">
                <tr>
                    <th>序號</th>
                    <th>書名</th>
                    <th>優惠</th>
                    <th>優惠價</th>
                    <th>出版社</th>
                    <th>庫存</th>
                </tr>

                @{
                    int count1 = 0;
                    foreach (var item in Model)
                    {
                        count1++;
                        <tr>
                            <td>
                                @count1
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTitle)
                            </td>
                            <td>
                                @{
                                    string 活動 = "無優惠活動";
                                    //if (item.DiscountDetails.FirstOrDefault() != null)
                                    //{
                                    //    活動 = item.DiscountDetails.Select(x => x.Discount.DiscountName).FirstOrDefault().ToString();
                                    //}
                                }
                                @Html.DisplayFor(modelItem => 活動)
                            </td>
                            <td>
                                @{
                                    decimal 折扣 = 1;
                                    //if (item.DiscountDetails.FirstOrDefault() != null)
                                    //{
                                    //    折扣 = Convert.ToDecimal(item.DiscountDetails.Select(x => x.Discount.DiscountAmount));
                                    //}
                                    var 活動價 = item.UnitPrice * 折扣;
                                }

                                @Html.DisplayFor(modelItem => 活動價)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Publisher!.PublisherName)
                            </td>
                            <td>
                                @{
                                    string 供貨狀況 = item.UnitInStock > 0 ? "可供貨" : "缺貨";
                                }
                                @Html.DisplayFor(modelItem => 供貨狀況)
                            </td>

                            <td>
                                @Html.ActionLink("刪除", "Delete", new { id = item.BookId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                            </td>
                        </tr>
                    }
                }
            </table> @*//作者*@
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <table class="table table-hover">
                <tr>
                    <th>序號</th>
                    <th>書名</th>
                    <th>優惠</th>
                    <th>優惠價</th>
                    <th>出版社</th>
                    <th>庫存</th>
                </tr>

                @{
                    int count2 = 0;
                    foreach (var item in Model)
                    {
                        count2++;
                        <tr>
                            <td>
                                @count2
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTitle)
                            </td>
                            <td>
                                @{
                                    string 活動 = "無優惠活動";
                                    //if (item.DiscountDetails.FirstOrDefault() != null)
                                    //{
                                    //    活動 = item.DiscountDetails.Select(x => x.Discount.DiscountName).FirstOrDefault().ToString();
                                    //}
                                }
                                @Html.DisplayFor(modelItem => 活動)
                            </td>
                            <td>
                                @{
                                    decimal 折扣 = 1;
                                    //if (item.DiscountDetails.FirstOrDefault() != null)
                                    //{
                                    //    折扣 = Convert.ToDecimal(item.DiscountDetails.Select(x => x.Discount.DiscountAmount));
                                    //}
                                    var 活動價 = item.UnitPrice * 折扣;
                                }

                                @Html.DisplayFor(modelItem => 活動價)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Publisher!.PublisherName)
                            </td>
                            <td>
                                @{
                                    string 供貨狀況 = item.UnitInStock > 0 ? "可供貨" : "缺貨";
                                }
                                @Html.DisplayFor(modelItem => 供貨狀況)
                            </td>

                            <td>
                                @Html.ActionLink("刪除", "Delete", new { id = item.BookId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                            </td>
                        </tr>
                    }
                }
            </table> @*//出版社*@
        </div>
        <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-contact-tab">
            <table class="table table-hover">
                <tr>
                    <th>序號</th>
                    <th>書名</th>
                    <th>優惠</th>
                    <th>優惠價</th>
                    <th>出版社</th>
                    <th>庫存</th>
                </tr>

                @{
                    int count3 = 0;
                    foreach (var item in Model)
                    {
                        count3++;
                        <tr>
                            <td>
                                @count3
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookTitle)
                            </td>
                            <td>
                                @{
                                    string 活動 = "無優惠活動";
                                    //if (item.DiscountDetails.FirstOrDefault() != null)
                                    //{
                                    //    活動 = item.DiscountDetails.Select(x => x.Discount.DiscountName).FirstOrDefault().ToString();
                                    //}
                                }
                                @Html.DisplayFor(modelItem => 活動)
                            </td>
                            <td>
                                @{
                                    decimal 折扣 = 1;
                                    //if (item.DiscountDetails.FirstOrDefault() != null)
                                    //{
                                    //    折扣 = Convert.ToDecimal(item.DiscountDetails.Select(x => x.Discount.DiscountAmount));
                                    //}
                                    var 活動價 = item.UnitPrice * 折扣;
                                }

                                @Html.DisplayFor(modelItem => 活動價)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Publisher!.PublisherName)
                            </td>
                            <td>
                                @{
                                    string 供貨狀況 = item.UnitInStock > 0 ? "可供貨" : "缺貨";
                                }
                                @Html.DisplayFor(modelItem => 供貨狀況)
                            </td>

                            <td>
                                @Html.ActionLink("刪除", "Delete", new { id = item.BookId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                            </td>
                        </tr>
                    }
                }
            </table> @*//可購買時通知我*@
        </div>

    </div>



</div>
