@model IEnumerable<prjBookMvcCore.Models.Order>

@{
    ViewData["Title"] = "我的訂單";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
    string Discount = "";
    foreach (var item in Model)
    {
        BookShopContext db = new BookShopContext();
        Discount = db.OrderDiscounts.Where(x => x.OrderDiscountId == item.OrderDiscountId).Select(x => x.OrderDiscountDescprtion).FirstOrDefault();
    }
}

<div class="container-sp" style="margin-top:15px">
    <p> <h6>訂單</h6></p>
    <table class="table table-hover">
        <tr>
            <th>序號</th>
            <th>日期</th>
            <th>優惠</th>
            <th>支付方式</th>
            <th>貨運方式</th>
            <th>支付狀態</th>
            <th>運送狀態</th>
            <th>運費</th>
            <th>總金額</th>
        </tr>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;

                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @item.OrderDate.ToString("yyyy/MM/dd")
                    </td>
                    <td>
                        @Discount
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment.PaymentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipment.ShipmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayStatus.PayStatusName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingStatus.ShippingStatusName)
                    </td>

                    <td>
                        @Convert.ToInt32(item.Shipment.Freight) 元
                    </td>

                    <td>
                        @Convert.ToInt32(item.TotalPay) 元
                    </td>
                    <td>
                        <button onclick="viewDetails(@item.OrderId)" class="btn btn-outline-secondary btn-sm">檢視詳細</button>
                    </td>
                </tr>
            }
        }
    </table>

</div>
<script>
    function viewDetails(id) {
        var url = '@Url.Action("PartailOrderDetail", "Member")?id=' + id;
        window.open(url, "訂單詳細清單", "height=500,width=500");
    }
</script>