@model IEnumerable<prjBookMvcCore.Models.Order>

@{
    ViewData["Title"] = "myOrders";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<div class="container" style="margin-top:15px">
    <p> <h6>訂單</h6></p>
    <table class="table table-hover">
        <tr>
            <th>序號</th>
            <th>日期</th>
            <th>優惠</th>
            <th>支付方式</th>
            <th>貨運方式</th>
            <th>支付狀態</th>
            <th>運送狀態</th>
            <th>運費</th>
        </tr>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;

                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipment.ShipmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayStatus.PayStatusName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingStatus.ShippingStatusName)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipment.Freight)
                    </td>
  @*
                    <td>
            @Html.DisplayFor(modelItem => item.Freight)
            </td>*@
                    @*//小計 = (x.OrderDetails.Sum(y => y.UnitPrice * y.Quantity)) + (x.Freight ?? 0)*@

                    <td>
                        @Html.ActionLink("修改", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.OrderId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                    </td>
                </tr>
            }
        }
    </table>

</div>
