@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout_Homepage.cshtml";
}

@*<h2>Home</h2>
<a  role="button" class="btn btn-outline-success" href="~/Home/MemberCenter" >會員中心</a>*@

@*<div>
    <img src="~/image/demo-pic.jpg" width="100%" height="150" />
    活動or推播
</div>*@

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    @* 活動輪播圖 *@
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="~/Promotions/Promotions註冊會員禮"><img src="~/Image/Promotions/註冊會員.png" class="d-block w-100" alt="page1" height="300"></a>
        </div>
        <div class="carousel-item">
            <a href="~/Promotions/Promotions會員"><img src="~/Image/Promotions/會員等級優惠及升等方式.png" class="d-block w-100" alt="page2" height="300"></a>
        </div>
        <div class="carousel-item">
            <a href="~/Promotions/Promotions促銷活動"><img src="~/Image/Promotions/書目特惠.png" class="d-block w-100" alt="page2" height="300"></a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br />
<hr />

<div class="container">
    @* 商品展示一區 *@
    <div class="row">
        <p>今日特輯</p>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/1.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>戰勝會考 國中必備英語2000字</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/2.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/3.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>日文平假名．片假名練習簿</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>大新出版社編輯部</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/4.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/5.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/6.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/7.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/8.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/9.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="caption bookCaption text-center">
                <a><img src="~/image/Book/bookCover/10.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br />
<hr />
<div class="container">
    @* 商品展示二區 *@
    <div class="row">
        <p>注目新品</p>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
        <div class="col">
            @Html.Partial("_ProductPartialView")
        </div>
    </div>
</div>

<br />
<hr />
<div class="container">
    @* 商品展示三區 *@
    <div class="row">
        <div class="col align-items-start">書評區</div>
        <div class="col justify-content-end" style="display: flex; padding:10px">
            <a role="button" class="btn btn-sm btn-outline-success mx-1" href="~/Home/commentList">看更多</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="caption bookCaption text-center">
                <a href="~/Book/BookInformation#comment"><img src="~/image/Book/bookCover/10.jpg" height="150" /></a>
                <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                    <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                    <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
                    <li class="prod_comment"><span>評論：</span><span>productshow productshow productshow productshow</span></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <a href="~/Book/BookInformation/#comment"><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
        <div class="col">
            <a href="~/Book/BookInformation/#comment"><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
        <div class="col">
            <a href="~/Book/BookInformation/#comment"><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
        <div class="col">
            <a href="~/Book/BookInformation/#comment"><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
    </div>
</div>
