@using prjBookMvcCore.Models
@model MenuInformation
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout_Menu.cshtml";
}
<style>
    td {
        padding: 0 20px;
    }

    button {
        border: 1px solid black;
        border-radius: 20px;
    }

    .two-lines {
        line-height: 1.2em; /* 調整需要的行高 */
        height: 2.5em; /* 行高的兩倍 */
    }

    .bookCaption {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div>
    <div class="container body-content">
        <div class="row">
            <div class="col align-content-start" style="display: flex">
                <h3>推薦文章</h3>
            </div>
            <div class="col justify-content-end " style="display: flex; padding:5px">
                <a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Promotions/Promotions活動總覽表">看更多</a>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleNew" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @*輪播推薦文章*@
                    @*輪播書本第一頁*@ <div class="carousel-item active">
                        <div class="row">
                            @{
                                int latestArticalId = 0;
                                Artical firstArtical = Model.articals[0];
                                string firstArticalPath = firstArtical.ArticalTitle + ".jpg";
                                string firstArticalDate = firstArtical.ArticalDate.ToString("yyyy/MM/dd HH:mm");
                                latestArticalId = firstArtical.ArticalId;
                                <table>
                                    <tr>
                                        <td colspan="2">
                                            <div style="text-align:center"><a href="~/Promotions/Promotions活動文章Detail/@firstArtical.ArticalId"> <img src="~/Image/ArticalPicture/@firstArticalPath" height="300" title="@firstArtical.ArticalTitle" /> </a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span> @firstArtical.ArticalTitle</span></td>
                                        <td style="color: gray; font-style: oblique;font-size: 60%;text-align: right;"><span>更新日期：@firstArticalDate</span> </td>
                                    </tr>
                                </table>
                                #region 文章內書目
                                //    var detail = db.ArticalToBookDetails.Where(d => d.ArticalId == 1).Select(d => new { d.Book.BookTitle, d.Book.UnitPrice, d.Book.CoverPath, d.Book.BookId, }).ToList();
                                //                   <table>
                                //                   <tr>
                                //                    @foreach (var b in detail)
                                //    {
                                //                string title中 = b.BookTitle.Split("$")[0];
                                //                var q作者 = db.AuthorDetails.Where(a => a.BookId == b.BookId).Select(a => new { a.Author.AuthorName }).ToList();
                                //                string s作者 = "";
                                //                foreach (var item in q作者) { s作者 += item.AuthorName + "    "; }
                                //                string price原價 = $"{b.UnitPrice:c0}";

                                //                        <td>
                                //                            <div style="position:relative">
                                //                                <a id="@b.BookId"><img src="@b.CoverPath" class="d-block w-100" alt="..." @b.CoverPath /></a>
                                //                            </div>
                                //                            <div class="caption bookCaption">
                                //                                <ul style="list-style:none; margin:0; padding:0;">
                                //                                    <li class='prod_TitleMain'> <a id="@b.BookId"> @title中</a> </li>
                                //                            <li class="discAuthor">作者：@s作者</li>
                                //                            <li class="discPrice原價">原價：<del style="color:red;font-style:oblique">@price原價</del></li>
                                //                                 @{
                                //    var bookDiscountId = db.BookDiscountDetails.Where(a => a.BookId == b.BookId).Select(a => a.BookDiscountId).FirstOrDefault();
                                //    var q是否優惠 = bookDiscountId != null ? bookDiscountId.ToString() : "";
                                //    if (!string.IsNullOrEmpty(q是否優惠))
                                //    {
                                //        var q優惠折數 = db.BookDiscounts.Where(a => a.BookDiscountId == int.Parse(q是否優惠)).Select(a => new { a.BookDiscountName, a.BookDiscountAmount }).FirstOrDefault();
                                //        var price優惠價 = $"{(q優惠折數.BookDiscountAmount* b.UnitPrice):0}";
                                //                                    <li class="discPrice優惠價">優惠價：@q優惠折數.BookDiscountName @price優惠價 元</li>
                                //}    }
                                //                                </ul>
                                //                            </div>
                                //                        </td>
                                //    }
                                //                        </tr>
                                //                    </table>
                                #endregion
                            }
                        </div>
                    </div>
                    @*輪播書本第二~四頁*@
                    @{
                        for (int i = 2; i <= 4; i++)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    @{
                                        Artical g = Model.articals[i];
                                        {
                                            string path = g.ArticalTitle + ".jpg";
                                            string date = g.ArticalDate.ToString("yyyy/MM/dd HH:mm");
                                            <table>
                                                <tr>
                                                    <td colspan="2">
                                                        <div style="text-align:center"><a href="~/Promotions/Promotions活動文章Detail/@g.ArticalId"> <img src="~/Image/ArticalPicture/@path" height="300" title="@g.ArticalTitle" /> </a></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>@g.ArticalTitle</td>
                                                    <td style="color: gray; font-style: oblique;font-size: 60%;text-align: right;">更新日期：@date</td>
                                                </tr>
                                            </table>

                                        }
                                        #region 文章內書目
                                        //    detail = db.ArticalToBookDetails.Where(d => d.ArticalId == i).Select(d => new { d.Book.BookTitle, d.Book.UnitPrice, d.Book.CoverPath, d.Book.BookId, }).ToList();
                                        //                <table>
                                        //                    <tr>
                                        //                        @foreach (var b in detail)
                                        // {
                                        //                string title中 = b.BookTitle.Split("$")[0];
                                        //                var q作者 = db.AuthorDetails.Where(a => a.BookId == b.BookId).Select(a => new { a.Author.AuthorName }).ToList();
                                        //                string s作者 = "";
                                        //                foreach (var item in q作者) { s作者 += item.AuthorName + "    "; }
                                        //                string price原價 = $"{b.UnitPrice:c0}";

                                        //                <td>
                                        //                    <div style="position:relative">
                                        //                        <a id="@b.BookId"><img src="@b.CoverPath" class="d-block w-100" alt="..." @b.CoverPath /></a>
                                        //                    </div>
                                        //                    <div class="caption bookCaption">
                                        //                        <ul style="list-style:none; margin:0; padding:0;">
                                        //                            <li class='prod_TitleMain'> <a id="@b.BookId"> @title中</a> </li>
                                        //                            <li class="discAuthor">作者：@s作者</li>
                                        //                            <li class="discPrice原價">原價：<del style="color:red;font-style:oblique">@price原價</del></li>
                                        //                            @{
                                        //                                var bookDiscountId = db.BookDiscountDetails.Where(a => a.BookId == b.BookId).Select(a => a.BookDiscountId).FirstOrDefault();
                                        //                                var q是否優惠 = bookDiscountId != null ? bookDiscountId.ToString() : "";
                                        //                                if (!string.IsNullOrEmpty(q是否優惠))
                                        //                                {
                                        //                                    var q優惠折數 = db.BookDiscounts.Where(a => a.BookDiscountId == int.Parse(q是否優惠)).Select(a => new { a.BookDiscountName, a.BookDiscountAmount }).FirstOrDefault();
                                        //                                    var price優惠價 = $"{(q優惠折數.BookDiscountAmount * b.UnitPrice):0}";
                                        //                                    <li class="discPrice優惠價">優惠價：@q優惠折數.BookDiscountName @price優惠價 元</li>
                                        //                                }
                                        //                            }
                                        //                        </ul>
                                        //                                </div>
                                        //                            </td>
                                        //}
                                        //                    </tr>
                                        //                </table>
                                        #endregion
                                    }
                                </div>
                            </div>
                        }
                    }
                    @*輪播圖切換按鈕*@ <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleNew" data-bs-slide="prev" border=5>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    @*輪播圖切換按鈕*@<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleNew" data-bs-slide="next" border=5>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col align-content-start" style="display: flex">
                <h3>繁中書籍</h3>
            </div>
            <div class="col justify-content-end" style="display: flex; padding:5px">
                <a class="btn btn-sm btn-outline-secondary mx-1" asp-controller="Category" asp-action="分類頁面" asp-route-id="0">看更多</a>
            </div>
            <div class="container body-content">
                <div id="carouselExampleEdit" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            @*輪播書本第一頁*@
                            <div class="row">
                                @{
                                    for (int i = 0; i < 6; i++)
                                    {
                                        MenuItem item = Model.menuItems[i];
                                        var discountedPrice = item.book.UnitPrice * item.bookDiscount.BookDiscountAmount;
                                        <div class="col book-item" data-publication-date="@item.book.PublicationDate" data-price="@((int)Math.Round(item.bookDiscount.BookDiscountAmount * item.book.UnitPrice))">
                                            <div style="position:relative">
                                                <a><img src="~/Image/Book/@item.book.CoverPath" alt="@item.book.CoverPath" height="300px"></a>
                                            </div>
                                            <div class="caption">
                                                <ul style="list-style:none; margin:0; padding:0;">
                                                    <li> <a class="bookCaption two-lines" href="~/Book/BookInformation/@item.book.BookId">@item.book.BookTitle</a></li>
                                                    <li class='prod_author'>
                                                        作者：
                                                        @if (item.author != null)
                                                        {
                                                            <a href="~/Book/authorInformation/@item.author.AuthorId">@item.author.AuthorName</a>
                                                        }
                                                    </li>
                                                    <li class="Price">原    價：@((int)Math.Round(item.book.UnitPrice))元</li>
                                                    <li class="discPrice">
                                                        優惠價：<span style="color: #E3007F;">@((item.bookDiscount.BookDiscountAmount * 100).ToString("0"))</span>折
                                                        <span style="color: #E3007F;">@((int)Math.Round(item.book.UnitPrice * item.bookDiscount.BookDiscountAmount))</span>元
                                                    </li>
                                                    <li class="publicationDate">
                                                        出版日期：<span>@item.book.PublicationDate.ToString("yyyy/MM/dd")</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        @*輪播書本第二~四頁*@
                        @{
                            for (int p = 2; p <= 6; p++)
                            {
                                <div class="carousel-item">
                                    <div class="row">
                                        @{
                                            for (int i = (p - 1) * 6; i < p * 6; i++)
                                            {
                                                MenuItem item = Model.menuItems[i];
                                                var discountedPrice = item.book.UnitPrice * item.bookDiscount.BookDiscountAmount;
                                                <div class="col book-item" data-publication-date="@item.book.PublicationDate" data-price="@((int)Math.Round(item.bookDiscount.BookDiscountAmount * item.book.UnitPrice))">
                                                    <div style="position:relative">
                                                        <a><img src="~/Image/Book/@item.book.CoverPath" alt="@item.book.CoverPath" height="300px"></a>
                                                    </div>
                                                    <div class="caption">
                                                        <ul style="list-style:none; margin:0; padding:0;">
                                                            <li> <a class="bookCaption two-lines" href="~/Book/BookInformation/@item.book.BookId">@item.book.BookTitle</a></li>
                                                            <li class='prod_author'>
                                                                作者：
                                                                @if (item.author != null)
                                                                {
                                                                    <a href="~/Book/authorInformation/@item.author.AuthorId">@item.author.AuthorName</a>
                                                                }
                                                            </li>
                                                            <li class="Price">原    價：<span>@((int)Math.Round(item.book.UnitPrice))</span>元</li>
                                                            <li class="discPrice">
                                                                優惠價：<span style="color: #E3007F;">@(item.bookDiscount.BookDiscountName)</span>
                                                                <span style="color: #E3007F;">@((int)Math.Round(discountedPrice))</span>元
                                                            </li>
                                                            <li class="publicationDate">
                                                                出版日期：<span>@item.book.PublicationDate.ToString("yyyy/MM/dd")</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                        @*輪播圖切換按鈕*@ <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleEdit" data-bs-slide="prev" border=5>
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        @*輪播圖切換按鈕*@<button class="carousel-control-next " type="button" data-bs-target="#carouselExampleEdit" data-bs-slide="next" border=5>
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>