@using prjBookMvcCore.Models
@model List<ShoppingcartInformation>
@{
    ViewBag.Title = "購物車";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container-sp {
        width: 100%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .div {
        margin-bottom: 15px;
        margin-top: 15px
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    .form_01 {
        width: 98%;
        background: #fff;
        box-shadow: 0px 1px 2px #a4a4a4;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
    }
</style>
<script>
    function addToList() {
        /*待補，加入暫存的程式碼 */
        alert("已放入暫存清單!");
    }

</script>

<div class="container-sp">
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Home">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">購物車</li>
            </ol>
        </nav>
    </div>
   </div>

<div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-a-tab" data-bs-toggle="pill" data-bs-target="#pills-a" type="button" role="tab" aria-controls="pills-a" aria-selected="true">購物車</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-b-tab" data-bs-toggle="pill" data-bs-target="#pills-b" type="button" role="tab" aria-controls="pills-b" aria-selected="false">暫存清單</button>
        </li>
    </ul>
</div>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-a" role="tabpanel" aria-labelledby="pills-a-tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:50px;"><input type="checkbox"></th>
                    <th style="width:50px;">序號</th>
                    <th style ="width:500px;">書名</th>
                    <th>優惠</th>
                    <th>優惠價</th>
                    <th>出版社</th>
                    <th>庫存</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                   decimal totalAmount = 0;
                    foreach (var item in Model)
                    {
                        if (item.ActionDetial.ActionId == 7)
                        {
                            Decimal discount = Math.Floor(@item.CInformation.book.UnitPrice * @item.CInformation.bookDiscount.BookDiscountAmount);
                            string bookTitle = item.CInformation.book.BookTitle.Replace("$$", "\n");
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>@count</td>
                                <td>@bookTitle</td>
                                <td>@item.CInformation.bookDiscount.BookDiscountName</td>
                                <td>@discount</td>
                                <td>@item.CInformation.publisher.PublisherName</td>
                                <td>@item.CInformation.book.UnitInStock</td>
                            </tr>
                            totalAmount += discount;
                            count++;
                        };
                    };
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-b" role="tabpanel" aria-labelledby="pills-b-tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:50px;"><input type="checkbox"></th>
                    <th style ="width:50px;">序號</th>
                    <th style="width:500px;">書名</th>
                    <th>優惠</th>
                    <th>優惠價</th>
                    <th>出版社</th>
                    <th>庫存</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int Tcount = 1;
                    foreach (var item in Model)
                    {
                        if (item.ActionDetial.ActionId == 4)
                        {
                            Decimal discount = Math.Floor(@item.CInformation.book.UnitPrice * @item.CInformation.bookDiscount.BookDiscountAmount);
                            string bookTitle = item.CInformation.book.BookTitle.Replace("$$", "\n");
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>@Tcount</td>
                                <td>@bookTitle</td>
                                <td>@item.CInformation.bookDiscount.BookDiscountName</td>
                                <td>@discount</td>
                                <td>@item.CInformation.publisher.PublisherName</td>
                                <td>@item.CInformation.book.UnitInStock</td>
                            </tr>
                            Tcount++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    為你推薦
    <div class="row">
        <div class="col">
            <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
        <div class="col">
            <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
        <div class="col">
            <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
        <div class="col">
            <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
        <div class="col">
            <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
            productshow productshow productshow productshow productshow productshow productshow productshow
        </div>
    </div>
</div>@*為你推薦*@
<div>
    @*結帳資訊區*@
    <ul class="form_01 prodetail">
        <li>
            <div class="d-grid gap-2 c d-md-flex justify-content-md-end">
                <table>
                    <tbody>
                        <tr>
                    <td style="font-size:30px; color:	#F75000;">
                        本次購物 共 @(count-1)項<br>
                        總金額 共 @totalAmount 元
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>       
</div>


<div class="d-grid gap-2 c d-md-flex justify-content-md-end">
    <button class="btn btn-primary col-4 me-md-2" type="button" onclick="addToList()">加入暫存</button>
    <a href="~/Order/CheckOutInfo" class=" btn btn-primary col-4 me-md-2" type="button">來去結帳</a>
</div>
<script>
</script>