@using prjBookMvcCore.Models
@model List<ShoppingcartInformation>
@inject UserInforService _user
@{
    ViewBag.Title = "購物車";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BookShopContext db = new BookShopContext();
    string level = db.MemberLevels.Find(_user.UserLevelId).LevelName;
    int points = db.Members.Where(x => x.MemberId == _user.UserId).Select(x => x.Points).FirstOrDefault();
}

<style>
    .container-sp {
        width: 100%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .div {
        margin-bottom: 15px;
        margin-top: 15px
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    .form_01 {
        width: 98%;
        background: #fff;
        box-shadow: 0px 1px 2px #a4a4a4;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
    }
</style>
<script>
    function addToList() {
        /*待補，加入暫存的程式碼 */
        alert("已放入暫存清單!");
    }
</script>

<div class="container-sp"> @*麵包屑*@
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Home">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">購物車</li>
            </ol>
        </nav>
    </div>
</div>

<nav> @*頁籤*@
    <div class="nav nav-tabs" id="nav-tab" role="tablist" style="display:none">
        <button class="nav-link active" id="nav-cart-tab" data-bs-toggle="tab" data-bs-target="#nav-cart" type="button" role="tab" aria-controls="nav-cart" aria-selected="true">page1</button>
        <button class="nav-link" id="nav-checkOutInfo-tab" data-bs-toggle="tab" data-bs-target="#nav-checkOutInfo" type="button" role="tab" aria-controls="nav-checkOutInfo" aria-selected="false">page2</button>
        <button class="nav-link" id="nav-checkOutConfirm-tab" data-bs-toggle="tab" data-bs-target="#nav-checkOutConfirm" type="button" role="tab" aria-controls="nav-checkOutConfirm" aria-selected="false">page3</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent"> @*頁面*@
    <div class="tab-pane fade show active" id="nav-cart" role="tabpanel" aria-labelledby="nav-cart-tab"> @*page1*@
        <div id="cart_tab">  @*購物車暫存切換頁籤*@
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-a-tab" data-bs-toggle="pill" data-bs-target="#pills-a" type="button" role="tab" aria-controls="pills-a" aria-selected="true">購物車</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-b-tab" data-bs-toggle="pill" data-bs-target="#pills-b" type="button" role="tab" aria-controls="pills-b" aria-selected="false">暫存清單</button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent"> @*購物車暫存內頁面*@
            <div class="tab-pane fade show active" id="pills-a" role="tabpanel" aria-labelledby="pills-a-tab"> @*購物車頁面*@
                <table class="table table-striped" id="table1"> @*購物車內容*@
                    <thead>
                        <tr>
                            <th style="width:50px;"><input type="checkbox"></th>
                            <th style="width:50px;">序號</th>
                            <th style="width:500px;">書名</th>
                            <th>優惠</th>
                            <th>優惠價</th>
                            <th>數量</th>
                            <th>小計</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 1;
                            decimal totalAmount = 0;

                            foreach (var item in Model)
                            {
                                int 優惠價 = Convert.ToInt32(item.Book.UnitPrice * item.discountAmount);
                                string bookTitle = item.Book.BookTitle.Replace("$$", "\n");
                                decimal 小計 = 優惠價 * item.Quantity;
                                        <tr>
                                        <input >    
                                        <td><input type="checkbox"></td>
                                            <td>@count</td>
                                            <td>@bookTitle</td>
                                            <td>@item.discountName</td>
                                            <td>@優惠價</td>
                                            <td><input id="quantity" type="number" asp-for="@item.Quantity" min="1" max="@item.Book.UnitInStock"></td>
                                            <td id="subtotal">@小計</td>
                                            <td>
                                                <button name="id" class="btn btn-outline-secondary" onclick="cancle(@item.ActionDetial.ActionToBookId)">取消</button>
                                            </td>
                                        </tr>
                                count++;
                                totalAmount += 小計;
                            };
                        }
                    </tbody>
                </table>
                <div class="justify-content-end" style="text-align:right;">@*結帳資訊*@
                    <div style="font-size:20px; color:#F75000;">
                        總金額 共 <sapn id="totalAmount">@totalAmount </sapn> 元
                    </div>
                    <div class="mt-3">
                    <span><button class="btn btn-primary" onclick="addToList()">加入暫存</button></span>
                    <span><button class="btn btn-primary" id="nextForm1">來去結帳</button></span>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-b" role="tabpanel" aria-labelledby="pills-b-tab"> @*暫存*@
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px;"><input type="checkbox"></th>
                            <th style="width:50px;">序號</th>
                            <th style="width:500px;">書名</th>
                            <th>優惠</th>
                            <th>優惠價</th>
                            <th>出版社</th>
                            <th>庫存</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int Tcount = 1;
                            foreach (var item in Model)
                            {
                                if (item.ActionDetial.ActionId == 4)
                                {
                                    //Decimal discount = Math.Floor(@item.CInformation.book.UnitPrice * @item.CInformation.bookDiscount.BookDiscountAmount);
                                    //string bookTitle = item.CInformation.book.BookTitle.Replace("$$", "\n");
                                    //<tr>
                                    //    <td><input type="checkbox"></td>
                                    //    <td>@Tcount</td>
                                    //    <td>@bookTitle</td>
                                    //    <td>@item.CInformation.bookDiscount.BookDiscountName</td>
                                    //    <td>@discount</td>
                                    //    <td>@item.CInformation.publisher.PublisherName</td>
                                    //    <td>@item.CInformation.book.UnitInStock</td>
                                    //</tr>
                                    //Tcount++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container"> @*為你推薦*@
            為你推薦
            <div class="row">
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" /></a>
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-checkOutInfo" role="tabpanel" aria-labelledby="nav-checkOutInfo-tab"> @*page2*@
        <div class="container-sp">
            <div class="col-3" style="font-size:20px; color:	#F75000;">
                總金額 共 <label id="totalAmount2"> </label> 元
            </div>
            <div class="row mt-2">
                <h4>訂購人資訊</h4>
                <div class="form-group">
                    <label for="inputName">姓名</label>
                    <input type="text" class="form-control" id="inputName" name="Name" placeholder="請輸入收件人姓名">
                </div>
                <div class="form-group">
                    <label for="inputPhone">電話</label>
                    <input type="text" class="form-control" id="inputPhone" name="Phone" placeholder="請輸入電話">
                </div>
                <div class="form-group">
                    <label for="inputAddress">地址</label>
                    <input type="text" class="form-control" id="inputAddress" name="Address" placeholder="請輸入配送地址">
                </div>
            </div>
            <div class="row mt-4">
                <h2>選擇付款方式</h2>
                @{
                    foreach (var item in db.Payments.Take(4))
                    {
                                <div>
                                    <input class="form-check-input" type="radio" name="paymentId" value="@item.PaymentId" checked>
                                    <label class="form-check-label" for="paymentId">
                                        @item.PaymentName
                                    </label>
                                </div>
                    };
                }
            </div>
            <div class="row mt-4">
                <h2>選擇配送方式</h2>
                @{
                    foreach (var item in db.Shipments)
                    {
                                <div>
                                    <input class="form-check-input" type="radio" name="shipmentId" id="text-@item.ShipmentId" value="@item.ShipmentId" checked>
                                    <label class="form-check-label" for="shipmentId">
                                        @item.ShipmentName
                                    </label>
                                </div>
                    };
                }
            </div>
            <div class="row mt-4">
                <h2>選擇優惠項目</h2>
                <div id="discountArea">
                </div>

            </div>



            <div class="row mt-4">
                <h2>回饋金</h2>
                <div class="ml-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="discountOptions" id="" value="回饋金">
                        <label class="form-check-label" for="discountOptions1">
                            回饋金折抵
                        </label>
                        <div id="rebateAmount">
                            <label for="rebateAmountInput" class="form-label">輸入金額：(目前持有回饋金：@points 元)</label>
                            <input type="number" class="form-control" id="rebateAmountInput" name="rebateAmountInput" placeholder="請輸入回饋金金額" min="0" max="@points" oninput="checkMaxLimit()" />
                            <p id="maxLimitError" style="color: red; display: none;">輸入金額太大，請確認~</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-grid gap-2 c d-md-flex justify-content-md-end">
            <button class=" btn btn-primary col-4 me-md-2" onclick="nextPage('nav-cart-tab')">返回購物車</button>
            <button class=" btn btn-primary col-4 me-md-2" id="check_btn">下一步</button>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-checkOutConfirm" role="tabpanel" aria-labelledby="nav-checkOutConfirm-tab"> @*page3*@
        <div class="container">
            <h2>確認結帳</h2>
            <div class="table">
                <h4>書籍清單</h4>
                <table class="table table-striped" id="table2">
                    <thead>
                        <tr>
                            <th style="width:50px;"><input type="checkbox"></th>
                            <th style="width:50px;">序號</th>
                            <th style="width:500px;">書名</th>
                            <th>優惠</th>
                            <th>優惠價</th>
                            <th>出版社</th>
                            <th>庫存</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>訂購資訊確認</h2>
                <div class="row">
                    @*<div class="col-md-6">
                    <p>@request.Form["Name"]</p>
                    <p>@Request.Form["Phone"]</p>
                    <p>@Request.Form["Email"]</p>
                    <p>@Request.Form["Address"]</p>
                    </div>
                    <div class="col-md-6">
                    <p>@Model.PaymentMethod</p>
                    <p>@Model.ShippingMethod</p>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>結帳金額</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>總共_____件</p>
                        <p>總金額：</p>
                        <p>優惠折扣：</p>
                        <p>運費：</p>
                    </div>
                    <div class="col-md-6">
                        <p>結帳金額：</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 c d-md-flex justify-content-md-end">
            <button class=" btn btn-primary col-4 me-md-2" type="" onclick="nextPage('nav-cart-tab')">返回修改</button>
            <button class="btn btn-primary col-4 me-md-2" type="button" data-bs-toggle="modal" data-bs-target="#successModal">
                確定送出
            </button>
        </div>

        <div class="d-grid gap-2 c d-md-flex justify-content-md-end">
        </div>

        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">訂單完成</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        您的訂單已完成！
                    </div>
                    <div class="modal-footer">
                        <a href="~/Order/CheckOutFinal" class=" btn btn-primary col-4 me-md-2" type="button">確定</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    




</script>
<script>//回饋金上限確認
    function checkMaxLimit() {
        var input = document.getElementById('rebateAmountInput');
        var maxLimitError = document.getElementById('maxLimitError');

        if (parseInt(input.value) > parseInt(input.max)) {
            maxLimitError.style.display = 'block';
        } else {
            maxLimitError.style.display = 'none';
        }
    }
</script>
<script> //取消購物車項目方法
    async function cancle(id) {
        const confirmed = confirm('確定要取消嗎?');
        if (confirmed) {
            const response = await fetch('@Url.Content("~/Order/itemDelete")?id=' + id);
            const confirmText = await response.text();
            if (confirmText === "True") {
                alert('已取消');
            } else {
                alert('不明錯誤, 你再試試');
            };
            window.location.href = window.location.href;
        }
    };
</script>
<script> //page1調整數量同時更新總金額
    const table1 = document.getElementById('table1');
    const totalAmountElement = document.querySelector('#totalAmount');

    // 初始化 totalAmount 的值
    let totalAmount = 0;

    table1.addEventListener('input', function (event) {
        const target = event.target;
        if (target.matches('#quantity')) {
            const row = target.closest('tr');
            const quantityInput = row.querySelector('#quantity');
            const subtotalCell = row.querySelector('#subtotal');
            const priceCell = row.querySelector('td:nth-child(5)'); // 優惠價列的单元格

            const quantity = parseInt(quantityInput.value, 10);
            const price = parseInt(priceCell.textContent, 10);
            const subtotal = quantity * price;

            subtotalCell.textContent = subtotal;

            // 更新 totalAmount 的值
            totalAmount = calculateTotalAmount();
            totalAmountElement.textContent = totalAmount;
        }
    });

    function calculateTotalAmount() {
        const rows = table1.querySelectorAll('tbody tr');
        let total = 0;

        rows.forEach(function (row) {
            const subtotalCell = row.querySelector('#subtotal');
            const subtotal = parseInt(subtotalCell.textContent, 10);
            total += subtotal;
        });

        return total;
    };
</script>
<script> //移動頁面方法
    function nextPage(inputTab) {
        const tabbtn = document.getElementById(inputTab);
        tabbtn.click();
    };
</script>
<script> //更新總金額2並移動到下頁
    function updateTotalAmount2() {
        var totalAmountElement = document.getElementById("totalAmount");
        var totalAmount2Element = document.getElementById("totalAmount2");
        totalAmount2Element.innerText = totalAmountElement.innerText;
    };
    const nextForm1 = document.getElementById('nextForm1');
    nextForm1.addEventListener('click', function () {
        updateTotalAmount2();
        returnOd();
        nextPage('nav-checkOutInfo-tab');
    });

</script>
<script> //讀取會員或酷碰方法
    async function returnOd() {
        const discountArea = document.getElementById('discountArea');
        var totalAmount2 = document.getElementById('totalAmount2');
        var total = parseInt(totalAmount2.innerText);
        console.log(total);
        const response = await fetch('@Url.Content("~/Order/searchDiscount")?total=' + total);
        const datas = await response.json();
        console.log(datas);
        discountArea.innerHTML="";
        datas.forEach(item => {
            // Create the container div
            const containerDiv = document.createElement('div');

            // Create the radio input element
            const radioInput = document.createElement('input');
            radioInput.setAttribute('type', 'radio');
            radioInput.setAttribute('name', 'dTy');
            radioInput.setAttribute('id', `discount-${item.discountTypeId}`);
            radioInput.setAttribute('value', item.discountTypeId);
            radioInput.classList.add('form-check-input');
            containerDiv.appendChild(radioInput);

            // Create the label element
            const label = document.createElement('label');
            label.classList.add('form-check-label');
            label.setAttribute('for', 'dTy');
            label.textContent = item.discountTypeName;
            containerDiv.appendChild(label);

            // Add the container div to the discountArea
            discountArea.appendChild(containerDiv);
        });
    }
</script>
<script src="~/scripts/copy.js" defer></script>