@using System.Web
@using System.Text
@using prjBookMvcCore.Models
@model List<ShoppingcartInformation>

@inject UserInforService _user
@{
    ViewBag.Title = "購物車";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BookShopContext db = new BookShopContext();
    string level = db.MemberLevels.Find(_user.UserLevelId).LevelName;
    int points = db.Members.Where(x => x.MemberId == _user.UserId).Select(x => x.Points).FirstOrDefault();
    string mName = db.Members.Where(x => x.MemberId == _user.UserId).Select(x => x.MemberName).FirstOrDefault();
    string mPhone = db.Members.Where(x => x.MemberId == _user.UserId).Select(x => x.Memberphone).FirstOrDefault();
    int shipmentid = 0;
    string mAddress = db.Members.Where(x => x.MemberId == _user.UserId).Select(x => x.MemberAddress).FirstOrDefault();
    string encodedName = HttpUtility.UrlEncode(Encoding.UTF8.GetBytes(mName));
    string encodedAddress = HttpUtility.UrlEncode(Encoding.UTF8.GetBytes(mAddress));
}

<style>
    .container-sp {
        width: 100%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .div {
        margin-bottom: 15px;
        margin-top: 15px
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    .form_01 {
        width: 98%;
        background: #fff;
        box-shadow: 0px 1px 2px #a4a4a4;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
    }

    .cinput {
        background-color: transparent;
        border-color: transparent;
        outline: none;
        width: auto;
    }

    .couponS {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        background-image: url('/Image/coupon.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .coupon {
        display: flex;
        align-items: center;
    }

        .coupon input {
            margin-right: 5px;
        }

    #successModal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 透明黑色背景 */
    }

    .modal-dialog {
        max-width: 400px; /* 設定彈出視窗的最大寬度 */
        width: 100%;
        margin: auto;
    }
    .cust3:hover{
        color:brown
    }
</style>



<script>
    function addToList() {
        /*待補，加入暫存的程式碼 */
        alert("已放入暫存清單!");
    }
</script>

<div class="container-sp">
    @*麵包屑*@
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                @* <li class="breadcrumb-item"><a href="~/Home/Home">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">購物車</li>*@
            </ol>
        </nav>
    </div>
</div>

<nav>
    @*頁籤*@
    <div class="nav nav-tabs" id="nav-tab" role="tablist" style="display:none">
        <button class="nav-link active" id="nav-cart-tab" data-bs-toggle="tab" data-bs-target="#nav-cart" type="button" role="tab" aria-controls="nav-cart" aria-selected="true">page1</button>
        <button class="nav-link" id="nav-checkOutInfo-tab" data-bs-toggle="tab" data-bs-target="#nav-checkOutInfo" type="button" role="tab" aria-controls="nav-checkOutInfo" aria-selected="false">page2</button>
        <button class="nav-link" id="nav-checkOutConfirm-tab" data-bs-toggle="tab" data-bs-target="#nav-checkOutConfirm" type="button" role="tab" aria-controls="nav-checkOutConfirm" aria-selected="false">page3</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    @*頁面*@
    <div class="tab-pane fade show active" id="nav-cart" role="tabpanel" aria-labelledby="nav-cart-tab">
        @*page1*@
        <div id="cart_tab">
            @*購物車暫存切換頁籤*@
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-a-tab" data-bs-toggle="pill" data-bs-target="#pills-a" type="button" role="tab" aria-controls="pills-a" aria-selected="true">購物車</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-b-tab" data-bs-toggle="pill" data-bs-target="#pills-b" type="button" role="tab" aria-controls="pills-b" aria-selected="false">暫存清單</button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="pills-tabContent">
            @*購物車頁面*@
            <form id="form1">
                <div class="tab-pane fade show active" id="pills-a" role="tabpanel" aria-labelledby="pills-a-tab">
                    @*購物車頁面*@
                    <table class="table table-striped" id="table1">
                        @*購物車內容*@
                        <thead>
                            <tr>
                                <th style="width:50px;"></th>
                                <th style="width:50px;">序號</th>
                                <th style="width:500px;">書名</th>
                                <th>優惠</th>
                                <th>優惠價</th>
                                <th>數量</th>
                                <th>小計</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                                decimal totalAmount = 0;
                                foreach (var item in Model)
                                {
                                    int 優惠價 = (int)Math.Ceiling(item.Book.UnitPrice * item.discountAmount);
                                    string bookTitle = item.Book.BookTitle.Replace("$$", "\n");
                                    decimal 小計 = 優惠價 * item.Quantity;
                                            <input name="acid" value="@item.ActionDetial.ActionToBookId" type="hidden">
                                            <tr>
                                                <td style=""></td>
                                                <td>@count</td>
                                                <td>
                                            <a class="cust3" href="../../Book/BookInformation/@item.bookId">@item.Book.BookTitle.Split("$")[0]</a>
                                                </td>
                                                <td>@item.discountName</td>
                                                <td>@優惠價 元</td>
                                                <td><input name="quantity" id="quantity_@item.ActionDetial.ActionToBookId" type="number" value="@item.Quantity" min="1" max="@item.Book.UnitInStock"><span class="mx-4">本</span></td>
                                                <td id="subtotal">@小計 元</td>
                                                <td>
                                                    <button class="btn btn-outline-secondary" onclick="cancle(@item.ActionDetial.ActionToBookId)">取消</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-secondary" onclick="temSave(@item.bookId,@_user.UserId)">暫存</button>
                                                </td>
                                            </tr>
                                    count++;
                                    totalAmount += 小計;
                                };
                            }
                        </tbody>
                    </table>

                    <div style="text-align:right;">
                        @*結帳資訊*@
                        <div style="font-size:20px; color:#F75000;">
                            總金額 共 <sapn id="totalAmount">@totalAmount </sapn> 元
                        </div>
                        <div class="mt-3">
                            <span><button class="btn btn-outline-primary" type="button" id="btnForm1">來去結帳</button></span>
                        </div>
                    </div>
                </div>
            </form>
            <form>
            <div class="tab-pane fade" id="pills-b" role="tabpanel" aria-labelledby="pills-b-tab">
                @*暫存*@
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px;">序號</th>
                            <th style="width:500px;">書名</th>
                            <th>優惠</th>
                            <th>優惠價</th>
                            <th>數量</th>
                            <th>小計</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int Tcount = 1;
                            foreach (var item in Model)
                            {
                               
                                    int 優惠價 = (int)Math.Ceiling(item.Book.UnitPrice * item.discountAmount);
                                    string bookTitle = item.Book.BookTitle.Replace("$$", "\n");
                                    decimal 小計 = 優惠價 * item.Quantity;
                                    <input name="acid" value="@item.ActionDetial.ActionToBookId" type="hidden">
                                if (item.ActionDetial.ActionId == 4)
                                {                                   
                                    <tr>
                                        <td>@Tcount</td>
                                        <td>
                                            <div class="col float-start me-4">
                                                <img height="50px" src="~/Image/Book/@item.Book.CoverPath" />
                                            </div>
                                            <div class="col pe-2">@(item.Book.BookTitle.Split("$")[0])</div>
                                        </td>
                                        <td>@item.discountName</td>
                                        <td>@優惠價 元</td>
                                        <td><input name="quantity" id="quantity_@item.ActionDetial.ActionToBookId" type="number" value="@item.Quantity" min="1" max="@item.Book.UnitInStock"><span class="mx-4">本</span></td>
                                        <td id="subtotal">@小計 元</td>
                                        <td>
                                            <button class="btn btn-outline-secondary" onclick="cancle(@item.ActionDetial.ActionToBookId)">取消</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-outline-secondary" onclick="temSave(@item.bookId,@_user.UserId)">暫存</button>
                                        </td>
                                    </tr>                                  
                                    Tcount++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            </form>
        </div>
        <hr />
        <div class="container">
            @*為你推薦*@
            <h5>為你推薦</h5>
            <div class="row">
                @{
                    var q = db.Books.OrderByDescending(b => b.UnitInStock).Skip(20).Take(6).ToList();
                    foreach (var g in q)
                    {
                        var dis = db.BookDiscountDetails.Where(d => d.BookId == g.BookId & d.BookDiscountStartDate < DateTime.Now & d.BookDiscountEndDate > DateTime.Now).Select(d => new { d.BookDiscount.BookDiscountAmount }).ToList();
                                <div class="col-2 mb-3">
                                    <a id="@g.BookId" href="~/Book/BookInformation/@g.BookId"> <img src="~/Image//Book/@g.CoverPath" class="d-block w-100 img-with-border" alt="..." title="@g.BookTitle.Split("$")[0]" /></a>
                                    <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                                        <li><div class="mt-3 bookCaption"><a id="@g.BookId" href="~/Book/BookInformation/@g.BookId" title="@g.BookTitle.Split("$")[0]">@g.BookTitle.Split("$")[0]</a></div></li>
                                        <li>原價：<del style="color:red;font-style:oblique">@((int)Math.Ceiling(g.UnitPrice)) </del> 元</li>
                                        <li>
                                            優惠價：<span style="color: #E3007F; ">@((dis[0].BookDiscountAmount * 100).ToString("0"))</span>折
                                            <span style="color: #E3007F;font-weight:bold;">@((int)Math.Ceiling(g.UnitPrice * dis[0].BookDiscountAmount))</span>元
                                        </li>
                                    </ul>
                                    <div style="text-align:center" class="m-2">
                                        <a role="button" class="btn btn-outline-warning btn-sm" onclick="addToCart(@g.BookId,@_user.UserId)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                                            </svg>
                                            加入購物車
                                        </a>
                                    </div>
                                </div>
                    }
                }
            </div>
        </div>
    </div>

    @*page2*@
    <div class="tab-pane fade" id="nav-checkOutInfo" role="tabpanel" aria-labelledby="nav-checkOutInfo-tab">
        <div class="container-sp">
            <form id="formForOrder">
                <div class="row mt-2">
                    <h4>收件人資訊</h4>
                    <input name="memberId" value="@_user.UserId" type="hidden" />
                    <div class="form-group"><input class="me-3" type="checkbox" onchange="toggleTextFields(this)" name="same">同訂購人</div>
                    <div class="form-group my-2">
                        <label class="mb-2" for="inputName">姓名</label>
                        <input type="text" class="form-control" id="inputName" name="reciverName" placeholder="請輸入收件人姓名">
                    </div>
                    <div class="form-group my-2">
                        <label class="mb-2" for="inputPhone">電話</label>
                        <input type="text" class="form-control" id="inputPhone" name="reciverPhone" placeholder="請輸入電話">
                    </div>
                    <div class="form-group my-2">
                        <label class="mb-2" for="inputAddress">地址</label>
                        <input type="text" class="form-control" id="inputAddress" name="shipAddr" placeholder="請輸入配送地址">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <h2 class="mb-4">選擇付款方式</h2>
                        @{
                            foreach (var item in db.Payments.Take(5))
                            {
                                        <div>
                                            <input class="form-check-input me-2" type="radio" name="paymentId" value="@item.PaymentId" checked>
                                            <label class="form-check-label mb-2" for="paymentId">
                                                @item.PaymentName
                                            </label>
                                        </div>
                            };
                        }
                    </div>
                    <div class="col">
                        <h2 class="mb-4">選擇配送方式</h2>
                        @{
                            foreach (var item in db.Shipments)
                            {
                                        <div>
                                            <input class="form-check-input me-2" type="radio" name="shipmentId" id="text-@item.ShipmentId" value="@item.ShipmentId" checked>
                                            <label class="form-check-label mb-2" for="shipmentId">
                                                @item.ShipmentName
                                            </label>
                                        </div>
                            };
                        }
                    </div>
                    <div class="col">
                        <h2 class="mb-4">選擇優惠項目</h2>
                        <div class="mb-2" id="discountArea">
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <h2>回饋金</h2>
                    <div>
                        <div class="form-check">
                            <div>
                                <label for="rebateAmountInput" class="form-label">輸入金額：(目前持有回饋金：@points 元)</label>
                                <input type="number" class="form-control" id="rebateAmountInput" name="rebateAmountInput" placeholder="請輸入回饋金金額" min="0" max="@points" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-grid gap-2 c d-md-flex justify-content-md-end">
            <button class="btn btn-outline-primary me-md-2" onclick="btnClick('nav-cart-tab')">返回購物車</button>
            <button class="btn btn-outline-primary me-md-2" type="button" onclick="p2nextbtnClick('nav-checkOutConfirm-tab')">下一步</button>
        </div>
    </div>
    @*page3*@
    <div class="tab-pane fade" id="nav-checkOutConfirm" role="tabpanel" aria-labelledby="nav-checkOutConfirm-tab">
        <h2>確認結帳</h2>
        <div class="row">
            <h4>書籍清單</h4>
            <form id="formForOrderDetails">
                <table class="table table-striped" id="table2">
                    <thead>
                        <tr>
                            <th style="width:50px;">序號</th>
                            <th style="width:500px;">書名</th>
                            <th>優惠</th>
                            <th>優惠價</th>
                            <th>出版社</th>
                            <th>庫存</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="row">
            <h3 class="mb-3">訂購資訊確認</h3>
            <div class="col">
                <h4>收件人</h4>
                <p id="reciverName">姓名: </p>
                <p id="reciverPhone">電話: </p>
                <p id="shipAddr">地址: </p>
            </div>
            <div class="col">
                <h4>訂購人</h4>
                <p>姓名：@mName</p>
                <p>電話：@mPhone</p>
                <p id="paymentId">付款方式</p>
                <p id="shipmentId">配送方式</p>
            </div>
            <div class="col">
                <h3>結帳金額</h3>
                <p>總金額：<span id="seconTotal"> </span></p>
                <p id="discountId"></p>
                <p id="rebateAmount"></p>
                <p id="freight"></p>
                <p>結帳金額：<span id="checkoutAmount"></span></p>
            </div>
        </div>
       
        <div class="mt-5" style="text-align:right;">
            <button class=" btn btn-outline-primary me-md-2" onclick="btnClick('nav-checkOutInfo-tab')">返回修改</button>
            <button id="btnSubmit" class="btn btn-outline-primary me-md-2" type="button">
                確定送出
            </button>
        </div>

        <div class="" id="successModal" tabindex="-1" style="display:none">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">訂單完成</h5>
                    </div>
                    <div class="modal-body">
                        您的訂單已完成！
                    </div>
                    <div class="modal-footer">
                        <button id="confirmButton" class=" btn btn-primary col-4 me-md-2" type="button">確定</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    let isLogin = false;
    window.onload = () => {
        if (@_user.UserId !== 0) {
            isLogin = true;
        };
        console.log(isLogin);
    };

    function loginCheck() {
        if (isLogin === false) {
            alert('尚未登入');
            if (confirm('前往登入')) {
                window.location.href = "../../Member/Login";
            } else {
            }
            return false;
        }
        return true;
    };

    function addToCart(bookID, memberID) {
        if (loginCheck()) {
            let self = this;
            let url = '@Url.Action("memAction", "Action")?bookID=' + bookID + '&memberID=' + memberID + '&actionID=' + 7;
            $.ajax({
                url: url,
                type: 'POST',
                success: function (result) {
                    let isSuccess = result;
                    if (isSuccess === "true") {
                        alert('加入購物車成功');
                        window.location.reload();
                    }
                    else {
                        alert('加入購物車失敗，本書已在購物車內');
                    }
                },
            });
        }
    };
</script>
<script>
    var mName = decodeURIComponent("@encodedName");
    var mPhone = "@mPhone";
    var mAddress = decodeURIComponent("@encodedAddress");
    function toggleTextFields(checkbox) {
        var inputName = document.getElementById("inputName");
        var inputPhone = document.getElementById("inputPhone");
        var inputAddress = document.getElementById("inputAddress");

        if (checkbox.checked) {
            inputName.value = mName;
            inputPhone.value = mPhone;
            inputAddress.value = mAddress;
            inputName.disabled = true;
            inputPhone.disabled = true;
            inputAddress.disabled = true;

        } else {
            inputName.disabled = false;
            inputPhone.disabled = false;
            inputAddress.disabled = false;
        }
    }
</script>

<script>
    //送出訂單
    function toPage4(id) {
        const url = '@Url.Action("checkOutFinal", "Order")?id=' + id;
        window.location.href = url;
    };

    function showSuccessModal(id) {
        const successModal = document.getElementById('successModal');
        successModal.style.display = 'block';
        const confirmButton = document.getElementById('confirmButton');
        confirmButton.addEventListener('click', function () {
            toPage4(id); // 在確定按鈕的點擊事件處理程序中呼叫 toPage4() 函數
        });
    };

    const btnSubmit = document.getElementById('btnSubmit');
    btnSubmit.addEventListener('click', async function () {
        const orderSubmitResult = await orderSubmit();
        if (orderSubmitResult > 0) {
            if (await orderDetailsSubmit()) {
                showSuccessModal(orderSubmitResult); // 呼叫顯示成功模態框的函數
            }
            else {
                alert('OD失敗');
            }
        }
    });

    /*送出訂單*/
    async function orderSubmit() {
        const formForOrder = document.getElementById('formForOrder');
        const response = await fetch('@Url.Action("Action2", "Order")', {
            method: 'POST',
            body: new FormData(formForOrder)
        });
        const confirmText = await response.text();
        const confirm = parseInt(confirmText, 10); // 將 confirmText 轉換為整數
        return confirm;
    };

    async function orderDetailsSubmit() {
        const formForOrderDetails = document.getElementById('formForOrderDetails');
        const formdata = new FormData(formForOrderDetails);
        console.log(formdata);
        const response = await fetch('@Url.Action("Action3", "Order")', {
            method: 'POST',
            body: formdata
        });

        const confirm = await response.text();
        if (confirm === "True") {
            return true;
        } else {
            return false;
        };
    }
</script>
<script>
    //P2 >> P3
    function p2nextbtnClick(tabId) {
        // 取得輸入值
        var reciverName = document.getElementById('inputName').value;
        var reciverPhone = document.getElementById('inputPhone').value;
        var shipAddr = document.getElementById('inputAddress').value;

        var paymentId = document.querySelector('input[name="paymentId"]:checked').value;
        var paymentName = document.querySelector('input[name="paymentId"]:checked + label').innerText;
        var shipmentId = document.querySelector('input[name="shipmentId"]:checked').value;
        var shipmentName = document.querySelector('input[name="shipmentId"]:checked + label').innerText;
        var rebateAmount = document.getElementById('rebateAmountInput').value;
        rebateAmount = rebateAmount !== '' ? rebateAmount : 0;
        console.log(rebateAmount);
        // 更新P3中的內容
        document.getElementById('reciverName').innerText = '姓名: ' + reciverName;
        document.getElementById('reciverPhone').innerText = '電話: ' + reciverPhone;
        document.getElementById('shipAddr').innerText = '地址: ' + shipAddr;
        document.getElementById('paymentId').innerText = '付款方式: ' + paymentName;
        document.getElementById('shipmentId').innerText = '配送方式: ' + shipmentName;
        document.getElementById('rebateAmount').innerText = '回饋金折抵: ' + rebateAmount;

        // 判斷運費
        var freight = 0;
        if (shipmentId == 1) {
            freight = 120;
        } else if (shipmentId == 2) {
            freight = 60;
        }
        // 顯示
        document.getElementById('freight').innerText = '運費: ' + freight + '元';

        // 計算結帳金額
        var totalAmount = parseFloat(document.getElementById('totalAmount').innerText);
        var checkoutAmount = totalAmount - parseFloat(rebateAmount) + parseFloat(freight);
        // 顯示結帳金額
        document.getElementById('checkoutAmount').innerText = checkoutAmount + ' 元';

        setFinalTotal();
        document.getElementById(tabId).click();
    }
</script>
<script>
    // p3顯示總金額的值並

    function setFinalTotal() {
        const totalA = document.getElementById('totalAmount');
        const seconTotal = document.getElementById('seconTotal');
        seconTotal.textContent = `${totalA.innerText} 元`;
    };
</script>
<script>
    //讀取orderDiscount方法
    async function returnOd() {
        const discountArea = document.getElementById('discountArea');
        var totalAmount = document.getElementById('totalAmount');
        var total = parseInt(totalAmount.innerText);
        console.log(total);
        const response = await fetch(`@Url.Content("~/Order/searchDiscount")?total=${total}`);
        const datas = await response.json();
        console.log(datas);
        discountArea.innerHTML = "";
        datas.forEach(item => {
            // Create the container div
            const containerCou = document.createElement('div');
            containerCou.classList.add('coupon');

            // Create the radio input element
            const radioInput = document.createElement('input');
            radioInput.setAttribute('type', 'radio');
            radioInput.setAttribute('name', 'oD');
            radioInput.setAttribute('id', `oD-${item.orderDiscountId}`);
            radioInput.setAttribute('value', item.orderDiscountId);
            radioInput.classList.add('form-check-input');
            containerCou.appendChild(radioInput);

            // Create the label element
            const label = document.createElement('label');
            label.classList.add('form-check-label');
            label.setAttribute('for', 'oD');
            label.textContent = item.orderDiscountnName;
            label.classList.add('couponS');
            containerCou.appendChild(label);

            discountArea.appendChild(containerCou);
        });
    }
</script>
<script>
    //return to Action1 page3
    const form1 = document.getElementById('form1');
    const table2 = document.getElementById('table2');
    const btnForm1 = document.getElementById('btnForm1');
    btnForm1.addEventListener('click', async () => {
        const totalAmountElement = document.getElementById('totalAmount');
        const totalAmount = parseInt(totalAmountElement.innerText);

        //沒金額鎖按鈕
        if (totalAmount <= 0) {
            btnForm1.disabled = true;
            return;
        }

        const response = await fetch('@Url.Action("Action1", "Order")', {
            method: 'POST',
            body: new FormData(form1)
        });
        const datas = await response.json();
        console.log(datas);
        table2.innerHTML = '';
        const table2Header = document.createElement('thead');
        const headerRow = document.createElement('tr');
        headerRow.innerHTML = `
                                                                    <th><input type="hidden" value="checkbox"></th>
                                                                    <th style="width:50px;">序號</th>
                                                                    <th style="width:500px;">書名</th>
                                                                    <th>優惠</th>
                                                                    <th>優惠價</th>
                                                                    <th>數量</th>
                                                                    <th>小計</th>
                                                                    `;
        table2Header.appendChild(headerRow);
        table2.appendChild(table2Header);
        const table2Body = document.createElement('tbody');
        datas.forEach((item, index) => {
            const input = document.createElement('input');
            input.name = "acid";
            input.value = item.actionDetial.actionToBookId;
            input.type = "hidden";
            const row = document.createElement('tr');
            row.innerHTML = `
                                                                        <td><input type="hidden" value="checkbox"></td>
                                                                        <td>${index + 1}</td>
                                                                            <td>${item.book.bookTitle.split("$")[0]}</td>
                                                                        <td>${item.discountName}</td>
                                                                        <td>${Math.ceil(item.book.unitPrice * item.discountAmount)}元</td>
                                                                        <td><input name="quantity" value="${item.quantity}" class="cinput" type="text" readonly /></td>
                                                                        <td>${Math.ceil(item.quantity * (item.book.unitPrice * item.discountAmount))}元</td>
                                                                    `;
            table2Body.appendChild(row);
            table2Body.appendChild(input);
        });
        table2.appendChild(table2Body);
        returnOd();
        btnClick('nav-checkOutInfo-tab');
    });
</script>

<script>
    // 暫存購物車項目方法
    async function temSave(bookid, memid) {
        const response = await fetch('@Url.Action("moveToList", "Order")?bookID=' + bookid + '&memberID=' + memid + '&actionID=' + 4);
        const confirm = await response.json();
        console.log(confirm);
        if (confirm.Value.success === true) {
            swal(confirm.Value.message, "已加入暫存清單", "success").then(() => {
                window.location.reload();
            });
        } else {
            swal(confirm.Value.message, "加入失敗~請確認", "warning");
        };
    };

</script>
<script>
    //取消購物車項目方法
    async function cancle(id) {
        const confirmed = confirm('確定要取消嗎?');
        if (confirmed) {
            const response = await fetch('@Url.Content("~/Order/itemDelete")?id=' + id);
            var confirmText = await response.text();
            if (confirmText === "True") {
                alert('已取消');
            } else {
                alert('不明錯誤, 你再試試');
            };
            window.location.href = window.location.href;
        }
    };
</script>
<script>
    //page1調整數量同時更新總金額以及value
    const table1 = document.getElementById('table1');
    const totalAmountElement = document.querySelector('#totalAmount');
    // 初始化 totalAmount 的值
    let totalAmount = 0;

    table1.addEventListener('input', function (event) {
        const target = event.target;
        if (target.matches('[id^="quantity_"]')) { // 選取以 "quantity_" 開頭的 ID
            const row = target.closest('tr');
            const quantityInput = row.querySelector(`#${target.id}`); // 使用 target.id 取得動態 ID 的 input 元素
            const subtotalCell = row.querySelector('#subtotal');
            const priceCell = row.querySelector('td:nth-child(5)'); // 優惠價列的单元格

            const quantity = parseInt(quantityInput.value, 10);
            const price = parseInt(priceCell.textContent, 10);
            const subtotal = quantity * price;

            subtotalCell.textContent = subtotal;

            // 同時更新 input 元素的 value 值
            quantityInput.value = quantity;

            // 更新 totalAmount 的值
            totalAmount = calculateTotalAmount();
            totalAmountElement.textContent = totalAmount;
        }
    });

    function calculateTotalAmount() {
        const rows = table1.querySelectorAll('tbody tr');
        let total = 0;

        rows.forEach(function (row) {
            const subtotalCell = row.querySelector('#subtotal');
            const subtotal = parseInt(subtotalCell.textContent, 10);
            total += subtotal;
        });

        return total;

    };
</script>
<script>
    //按按鈕
    function btnClick(inputId) {
        const btn = document.getElementById(inputId);
        btn.click();
    };
</script>
